
/* Header */
@media ( width > 1520px)  {
    header{ font-size: 18px; background-color: rgba(0, 0,0, var(--header--opacity)); padding-top:35px; padding-bottom:15px ;color:var(--color--white); position:sticky;  z-index: 100; width: 100%; top: 0;
        &:hover{background-color: var(--color--black);}
        > div{display:flex; align-items:center;
            > h1 {width:20.53% ; margin-right:2.43%; 
                > a{height: 77px; width: 100%; display:block; background:url(../../public/images/main/Main_logo_header.png) no-repeat left / contain; text-indent: -9999px;}
             }
             > span {display: none;}
             > nav {width:50.23%; box-sizing:border-box;
                     > ul{display:flex; align-items:flex-start; justify-content:space-between; position:relative;
                         > li{line-height: 22px; 
                             &:hover{color: var(--color--blue2); font-weight: 700; text-decoration: underline; text-decoration-thickness: 3px; text-underline-offset: 5px;}
                             > ul{width: 100%; padding-top: 66.5px; padding-bottom: 20px; gap:35px; line-height: 20px; display: none; position: absolute; z-index: 1; flex-wrap: wrap; left: 0;font-weight: 300;}
                             &:hover > ul{color: var(--color--white); display: flex;
                                 > li:hover{color: var(--color--blue2);cursor: pointer;}
                                }
                            }
                        }
                &:hover::after{height: 120px; width:100%; content:''; display:block; position:absolute; background-color:rgba(14, 13, 13, 0.8);top: 127px; left: 0;}
             }
             > div{ font-size: 16px; color: var(--color--gray); font-weight: 300; gap: 20px; display: flex; margin-left: auto;
             }
        }   
    }
}

@media (1120px < width <= 1520px)  {
    header{ font-size: 18px; background-color: rgba(0, 0,0, var(--header--opacity)); padding-top:35px; padding-bottom:15px ;color:var(--color--white); position:sticky;  z-index: 100; width: 100%; top: 0;
        &:hover{background-color: var(--color--black);}
        > div{display:flex; align-items:center; padding-inline: 30px; position: relative;
            > h1 {width:20.53% ; margin-right:2.43%;
                > a{height: 77px; width: 100%; display:block; background:url(../../public/images/main/Main_logo_header.png) no-repeat left / contain; text-indent: -9999px;}
             }
             > span {display: none;}
             > nav {width:50.23%; box-sizing:border-box; min-width: 670px;
                     > ul{display:flex; align-items:flex-start; justify-content:space-between; position:relative;
                         > li{line-height: 22px; 
                             &:hover{color: var(--color--blue2); font-weight: 700; text-decoration: underline; text-decoration-thickness: 3px; text-underline-offset: 5px;}
                             > ul{width: 100%; padding-top: 66.5px; padding-bottom: 20px; gap:35px; line-height: 20px; display: none; position: absolute; z-index: 1; flex-wrap: wrap; left: 0;font-weight: 300;}
                             &:hover > ul{color: var(--color--white); display: flex;
                                 > li:hover{color: var(--color--blue2);cursor: pointer;}
                                }
                            }
                        }
                &:hover::after{height: 120px; width:100%; content:''; display:block; position:absolute; background-color:rgba(14, 13, 13, 0.8);top: 92px; left: 0;}
             }
             > div{ font-size: 16px; color: var(--color--gray); font-weight: 300;  margin-left: auto; display: flex; gap: 20px;
             }
        }   
    }
}

@keyframes hamburgerMenu {
    0% {width: 0px;}
    100% {width: 80%;}
}
@keyframes hamburgerMenuLogin {
    0% {right: 0; color: transparent; }
    100% {right: 10%; color: white;}
}
@keyframes loginBox {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media ( 505px < width <= 1120px){
    header{font-size: 14px; background-color:var(--color--black); padding-bottom:15px ; width:100%; color:var(--color--white); position:sticky; top: 0;  z-index: 100; padding-top:15px; border-bottom: var(--boarder--bottom);
        > div {display: flex; width: 100%; align-items: center; font-size: 25px; font-weight: 600; 
            > h1 { width: 100%; padding-left: 5%;
               > a { height: 82px; max-width: 60px; display: block; background:url(../../public/images/main/icon_인천.png) no-repeat left / auto; text-indent: -9999px;} 
            }
            span{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
            nav { width: 34px; height: 26px; display: inline-block; background: url(../../public/images/main/hamburgerMenu.png) no-repeat center / auto; position: absolute; right: 0; top: 60px; transform: translate(-50%,-50%); cursor: pointer; z-index: 200; 
                > * {display: none;}
                &.active {animation: hamburgerMenu; animation-fill-mode: forwards; animation-duration: 1s;  height: 100vh; position: absolute; transform: translate(0,0); top: 0; background-color:#222222d7; background-image: none; cursor: unset;
                    > div:nth-of-type(1){  background-color: #161616e3; height: 180px;  font-size: 22px; font-weight: 300; display: flex; align-items: center; justify-content: center; gap: 18px; border-bottom: 1px solid var(--color--gray); 
                        > a { animation: loginBox;  animation-timing-function: cubic-bezier(1,.02,.39,1.07);  animation-fill-mode: forwards; animation-duration: 1.2s; line-height: 55px; box-sizing: border-box; border: 1px solid var(--color--gray); padding-inline: 40px; border-radius: 30px; color: var(--color--gray); display: block; white-space: nowrap;}
                    }
                    > * {display: block; }
                    > .quickSns {display: flex; max-width: 180px;}
                    > ul:nth-of-type(1) { height: 100vh; width: calc(50% - 25px); padding-left: 25px; border-right: 1px  solid var(--color--gray); padding-top: 30px; background-color: #161616e3; font-size: 16px; position: relative;
                        > li { line-height: 40px; overflow: hidden; font-weight: 400;  height: 40px;
                            &.active{height: auto; overflow: unset;
                                > a{color: var(--color--blue);}
                                > ul { font-size: 14px; position: absolute; z-index: 9999; right: -60%; top: 30px; width: 50%; 
                                    > li:hover { color: var(--color--blue);}
                                }
                            }
                        }
                    }
                 }
                }
            }
    }

}
@media ( width <= 505px){
    header{font-size: 14px; background-color:var(--color--black); padding-bottom:15px ; width:100%; color:var(--color--white); position:sticky; top: 0;  z-index: 100; padding-top:15px; border-bottom: var(--boarder--bottom);
        > div {display: flex; width: 100%; align-items: center; font-size: 25px; font-weight: 600; 
            > h1 { width: 100%; padding-left: 5%;
               > a { height: 82px; max-width: 60px; display: block; background:url(../../public/images/main/icon_인천.png) no-repeat left / auto; text-indent: -9999px;}  
            }
            span{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 18px;}
            nav { width: 34px; height: 26px; display: inline-block; background: url(../../public/images/main/hamburgerMenu.png) no-repeat center / auto; position: absolute; right: 0; top: 60px; transform: translate(-50%,-50%); cursor: pointer; z-index: 200; 
                > * {display: none;}
                &.active {animation: hamburgerMenu; animation-fill-mode: forwards;  animation-duration: 1.5s;  height: 100vh; position: absolute; transform: translate(0,0); top: 0; background-color:#222222d7; background-image: none; cursor: unset;
                    > div:nth-of-type(1){  background-color: #161616e3; height: 120px;  font-size: 16px; font-weight: 300; display: flex; align-items: center; justify-content: center; gap: 18px; border-bottom: 1px solid var(--color--gray); 
                        > a {animation: loginBox;  animation-timing-function: cubic-bezier(1,.02,.39,1.07);  animation-fill-mode: forwards; animation-duration: 1.2s; line-height: 35px; box-sizing: border-box; border: 1px solid var(--color--gray); padding-inline: 20px; border-radius: 30px; color: var(--color--gray); display: block; white-space: nowrap;}
                    }
                    > * {display: block; }
                    > .quickSns {display: flex; }
                    > ul:nth-of-type(1) { height: 100vh; width: 100%;  padding-left: 25px; padding-top: 30px; background-color: #161616e3; font-size: 20px; position: relative;
                        > li { line-height: 50px; overflow: hidden; font-weight: 300;  height: 50px;width: 100%;
                            &.active{height: auto; overflow: unset;
                                > a{color: var(--color--blue);}
                                > ul { font-size: 14px; z-index: 9999; padding-left: 15px;  width: 50%; line-height: 30px; 
                                    > li:hover { color: var(--color--blue);}
                                }
                            }
                        }
                    }
                 }
                }
            }
    }

}





/* Quick SNS  */
@media (width > 1120px){
.quickSns {max-width: 103px; right: calc(53px); top: 450px;gap: 9px; position: fixed; display: flex; flex-direction: column; z-index: 9999;
     > li {background-color: var(--color--black) ; width: 103px; aspect-ratio: 1/1; border-radius: 100%; border: 3px solid var(--color--blue2); box-sizing: border-box;
         > a{display: block; width: 100%; height: 100%; text-indent: -9999px;}
        &:nth-child(1) > a {background: url(../../public/images/main/quick_icon-01.png) no-repeat center / auto;}
        &:nth-child(2) > a {background: url(../../public/images/main/quick_icon-02.png) no-repeat center / auto;}
        &:nth-child(3) > a {background: url(../../public/images/main/quick_icon-03.png) no-repeat center / auto;}
    }
}
}
@media (width <= 1120px){
.quickSns { right: calc(53px); bottom: 60px; left: 20px; gap: 9px;  position: fixed; display: flex;  z-index: 9999; justify-content: flex-start;
     > li { 
         > a{display: block; text-indent: -9999px; width: 50px; aspect-ratio: 1/1;}
        &:nth-child(1) > a {background: url(../../public/images/main/quick_icon-01.png) no-repeat center / auto;}
        &:nth-child(2) > a {background: url(../../public/images/main/quick_icon-02.png) no-repeat center / auto;}
        &:nth-child(3) > a {background: url(../../public/images/main/quick_icon-03.png) no-repeat center / auto;}
    }
}
}





/* Footer */
@media (width > 1520px){

    footer{
        > div:nth-of-type(1) {background-color: var(--color--blodGray);
         > div {padding-block: 50px; font-size: 16px;
             > h2 {margin-bottom: 50px;
                > img {height: 100px;}
            }
            > ul {display: flex; justify-content: space-between;
                > li{line-height: 32px;text-indent: 33px; color: #999999;border-left: 1px solid var(--color--gray);
                    > ol {color: var(--color--white);}
                }
            }
        }
        }
        > div:nth-of-type(2) {padding-block: 50px; font-weight: 300; color: #bbbbbb;display: flex; flex-wrap: wrap; justify-content: space-between;
            > address {width: 41.7%;line-height: 25px; font-style: normal;
                 > button {padding: 5px;border-radius: 5px;background-color: #161616;cursor: pointer;}
                }
             > div {width: 20%; padding-top: 45px;
                 > p {text-align: right; margin-bottom: 30px;color: #999999;}
                 > ul {display: flex; justify-content: space-between; align-items: center;
                     > li {width: 43px;aspect-ratio: 1 /1; border: 1px solid #979797; border-radius: 100%;
                       &:nth-child(1) {background: url(../../public/images/main/footer_sns_01.png) no-repeat center / auto;}
                       &:nth-child(2) {background: url(../../public/images/main/footer_sns_02.png) no-repeat center / auto;}
                       &:nth-child(3) {background: url(../../public/images/main/footer_sns_03.png) no-repeat center / auto;}
                       &:nth-child(4) {background: url(../../public/images/main/footer_sns_04.png) no-repeat center / auto;}
                       &:nth-child(5) {background: url(../../public/images/main/footer_sns_05.png) no-repeat center / auto;}
                       > a {width: 100%; height:100%; text-indent: -9999px; display: block;}
                    }
                }
                &:nth-of-type(2) {font-size: 16px; flex-basis: 100% ;gap: 35px; display: flex;}
                &:nth-of-type(2) a:hover {font-weight: 600; color: var(--color--blue);}
            }
        }
    }
}

@media (width <= 1520px){

    footer{padding-inline: 30px; border-top: 1px solid var(--color--gray);
        > div:nth-of-type(1) {display: none;}
        > div:nth-of-type(2) {padding-block: 50px; font-weight: 300; color: #bbbbbb;display:flex; font-size: 16px; flex-wrap: wrap;
            > * {width: 100%;}
            > address {order: 1; width:100%;line-height: 25px; font-style: normal;
                 > button {padding: 5px;border-radius: 5px;background-color: #161616;cursor: pointer;}
                }
             > div {order: 3; width: 100%; padding-top: 45px; 
                 > p {text-align: center; margin-bottom: 30px;color: #999999;}
                 > ul { display: flex; justify-content: center; gap: 15px; align-items: center; width: 60%; margin-inline: auto;
                     > li {width: 43px;aspect-ratio: 1 /1; border: 1px solid #979797; border-radius: 100%;
                       &:nth-child(1) {background: url(../../public/images/main/footer_sns_01.png) no-repeat center / auto;}
                       &:nth-child(2) {background: url(../../public/images/main/footer_sns_02.png) no-repeat center / auto;}
                       &:nth-child(3) {background: url(../../public/images/main/footer_sns_03.png) no-repeat center / auto;}
                       &:nth-child(4) {background: url(../../public/images/main/footer_sns_04.png) no-repeat center / auto;}
                       &:nth-child(5) {background: url(../../public/images/main/footer_sns_05.png) no-repeat center / auto;}
                       > a {width: 100%; height:100%; text-indent: -9999px; display: block;}
                    }
                }
                &:nth-of-type(2) {order: 2; font-size: 16px; flex-basis: 100% ;gap: 35px; display: flex;}
                &:nth-of-type(2) a:hover {font-weight: 600; color: var(--color--blue);}
            }
        }
    }
}


/* Login */
.loginPage{ padding-top: 70px;margin-bottom: 150px;
    > section {max-width: 580px; padding: 0; margin: 0 auto; }
    h2 {margin-bottom: 30px; font-size: 34px; text-align: center;}
    h2 + p {  font-size: 20px;  margin-bottom: 50px; text-align: center; color: var(--color--gray); }
    mark {color: var(--color--blue); background-color: transparent;}
    .scroll_layout{ overflow-y: scroll;
        &::-webkit-scrollbar { width: 5px;}
        &::-webkit-scrollbar-track{background-color: #444444;}
        &::-webkit-scrollbar-thumb{ background-color: #999999; border-radius: 20px;}
    }
    .link_box {text-align: center; margin-top: 50px; display: flex; justify-content: space-between; align-items: center; 
        > a {line-height: 65px; border-radius: 10px; cursor: pointer; 
            &:nth-of-type(1) {width: 38%; background-color: #262626;}
            &:nth-of-type(2) {width: 58%; background-color: var(--color--blue); }
            & + button {width: 58%; background-color: #262626; line-height: 65px; border-radius: 10px; cursor: pointer; }
        }
    }
    
    .loginArea {
        > p {text-align: center; color: var(--color--gray);}
        > form { max-width: 570px; width: 100%; margin: 0 auto; font-size: 18px; margin-bottom: 35px; position: relative;
            > * {width: 100%; display: block;}
            > input , button {border-radius: 10px;}
            > label {color: var(--color--gray);margin-bottom: 18px;}
            > input {background-color: #262626; width: calc(100% - 40px); margin-bottom: 50px; line-height: 64px; padding-inline: 20px; color: white; font-weight: 300;}
            > button {line-height: 64px; background-color: var(--color--blue);}
            > p {text-align: center; color: red; position: absolute; bottom: 80px; font-size: 14px; }
        }
        > p:nth-of-type(2) { margin-bottom: 20px; font-weight: 200; font-size: 16px;
            > a {color: var(--color--blue); text-decoration: underline;text-underline-position: under; }
        }
        > p:nth-of-type(3) {display: flex; align-items: center; justify-content: center; gap: 40px;
            > a:hover{color: var(--color--white);}
        }
    }

    .joinUsArea {
        details { 
            > summary {line-height: 63px; border-bottom: 1px solid var(--color--gray); list-style: none;  cursor: pointer; display: flex; align-items: center;
                &::after{content: url('../../public/images/fanZone/arrow_down.png');  display: inline-block; margin-left: auto;}
                &.active{
                    color: var(--color--white);
                    &::after{content: url('../../public/images/fanZone/arrow-up.png');}
                }
                > button {background: url(../../public/images/main/joinUs_check.png) no-repeat center / auto ; width: 20px; aspect-ratio: 1/1; text-indent: -9999px; background-color: #262626; margin-right: 10px; border-radius: 100%;  cursor: pointer; 
                    &.active {background-color: var(--color--blue);}
                }
                > mark {color: var(--color--blue); background-color: transparent;  }
            }
            > div {background-color: #262626; max-height: 390px;font-size: 14px; line-height: 30px; padding-inline: 25px; font-weight: 300; }
        }
    }

    .certificationArea {
        > div{display: flex; align-items: center; justify-content: space-between; gap: 30px;
            > a {font-size: 18px; display: flex; align-items: center; justify-content: center; box-sizing: border-box; flex-direction: column; width: 50%; max-width: 275px;  border: 2px solid var(--color--gray); aspect-ratio: 1/1; border-radius: 10px; gap: 20px; 
                &:nth-of-type(1)::before{content: url(../../public/images/main/phoneImg.png);}
                &:nth-of-type(2)::before{content: url(../../public/images/main/ipinImg.png);}
            } 
        }
    }

    .memberInformationArea {
        form{ color: var(--color--gray); width: 100%;
            > label, > p {font-size: 18px; margin-bottom: 16px; display: block;}
            input,details{font-size: 16px; line-height: 65px; background-color: #262626; border-radius: 10px; padding-left: 15px; color: var(--color--white);}
            > div.input_box {display: flex; justify-content: space-between; gap: 15px; margin-bottom: 16px; flex-wrap: wrap;
                &:nth-of-type(1) {margin-bottom: 40px;}
                &:nth-of-type(2) { 
                    > button {cursor: pointer;}
                }
                > input , > p {width: calc(70% - 15px);}
                > p {line-height: 65px; background-color: #262626; border-radius: 10px; padding-left: 15px;}
                > button { width: 30%; max-width: 150px; border: 1px solid var(--color--white); border-radius: 10px; color: var(--color--white);} 
                > strong {display: block; width: 100%; color: rgba(255, 0, 0, 0.781); font-size: 14px;}
            }
            > input { width: calc(100% - 15px); margin-bottom: 16px;
                &:nth-of-type(2){margin-bottom:50px;}
            }
            > small {display: block; font-size: 14px; line-height: 26px; margin-bottom: 44px;
                &:last-of-type{margin-bottom: 16px;}
            }
            > span {display: inline-block; margin-bottom: 44px; line-height: 26px;}
            p { 
                > mark{color: var(--color--blue); background-color: transparent;}
            }
            > .selectBox {width: calc(100% - 30px); padding-inline: 15px; color: var(--color--gray); margin-bottom: 16px; display: flex; justify-content: space-between;  cursor: pointer; position: relative; background-color: #262626; border-radius: 10px;
                > p {height: 65px; line-height: 65px;  width: 100%;  list-style: none; display: flex; justify-content: space-between; font-size: 18px; 
                    &::after{content: url('../../public/images/fanZone/arrow_down.png');}
                    &.active{
                        color: var(--color--white);
                        &::after{content: url('../../public/images/fanZone/arrow-up.png');}
                    }
                }
                > ul{ display: none; position: absolute; top: 70px; left: 0; width: 100%; max-height: 333px; z-index: 999; overflow-y: scroll; padding: 0; cursor: pointer; color: var(--color--white); background-color: #262626; border-radius: 10px;
                    &.active{display: block;}
                    > li{line-height: 45px; text-indent: 23px;
                        &:hover{background-color: var(--color--gray);}
                    }
                }
            }
            > div.check_box{ display: flex; gap: 15px; margin-bottom: 10px;
                label {display: flex; gap: 5px;
                    > input {height: 13px; margin: 0;}
                }
            }
            > p:last-of-type { max-height: 300px; font-size: 14px; background-color: #262626 ; color: var(--color--white); font-weight: 300; padding-inline: 25px; margin-bottom: 50px; line-height: 20px;}
            > div:last-of-type{color: var(--color--white);}
            .submit_box{display: flex; width: 100%; align-items: center; gap: 2%;
                > * {cursor: pointer;}
                > a {width: 30%; text-align: center; background-color: #262626; line-height: 67px; border-radius: 10px;}
                > input { width: 68%;}
            }
        }
    }

    .registrationCompleteArea{
        > h2 {
            &::before{content: url(../../public/images/main/Complete_check_img.png); display: block; margin-bottom: 25px;}
        }
        > p {line-height: 30px;}
    }
}

