/* mainPage */
@media (width > 640px) {

  .mainPage{  

    /* League & Match  */
    .matchArea { color: var(--color--white); 
      > h2 { position: relative; display: flex; align-items: center; justify-content: center; margin-bottom: 70px; height: 50px; 
        > span { z-index: 0; padding-inline: 50px; background-color: var(--color--black); } 
        &::before { width: 100%; height: 1px; left: 0; top: 50%; transform: translate(0%, -50%); background-color: var(--color--white); content: ''; position: absolute; z-index: 0; } 
    } 
  }
  
  /* Market */
  .marketArea { color: var(--color--white);
    h2 { text-align: center; } 
    > a { max-width: 250px; font-size: 18px; line-height: 55px; padding-left: 40px; margin-inline: auto; margin-bottom: 70px; display: block; position: relative; box-sizing: border-box; border: 1px solid var(--color--white); border-radius: 30px; } 
    > ul { width: 100%; display: grid; gap: 30px; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2,1fr); 
      > li:hover { border: 5px solid var(--color--blue); } 
      > li { overflow: hidden; background-color: var(--color--blodGray); border: 5px solid var(--color--blodGray); border-radius: 30px; 
        > a { max-width: 455px; aspect-ratio: 455/377; display: flex; align-items: center; justify-content: flex-start; flex-direction: column; text-align: center; } 
        > a > p { width: 100%; line-height: 78px; font-size: 18px; background-color: var(--color--gray); } 
      } 
      > li:nth-child(3) { grid-column: 3/4; grid-row: 1/3; position: relative; display: flex; align-items: center; justify-content: center; 
        > a > p { bottom: 0; position: absolute; } 
      } 
    } 
  }
  
  /* Feed */
  .feedArea {color: var(--color--white);}
  
  /* Gallery */
  .galleryArea { 
    > h2 {  height: 1px;  text-indent: -9999px;} 
    > ul {  width: 100%;  margin-bottom: 145px;  display: grid;  grid-template-columns: 1fr 1fr;  grid-template-rows: 430px 675px;  grid-gap: 70px 2.78%;  text-align: center; 
      > li { 
        > h3 { margin-bottom: 48px; } 
        > a { display: block;  width: 100%;  aspect-ratio: 525/325;  border-radius: 20px;  text-indent: -9999px; } 
        &:nth-child(1) > a { background: url(../../public/images/main/Photo_Section_01.png) no-repeat center / cover;  } 
        &:nth-child(2) > a { background: url(../../public/images/main/magazine.png.jpg) no-repeat center / cover; } 
        &:nth-child(3) {  grid-column: 1/3; 
          > iframe {    width: 100%;    aspect-ratio: 1080 / 591;    border-radius: 20px;  } 
        } 
      } 
    } 
  }
  
  /* Academy  */
  .academyArea { 
    background: url(../../public/images/main/academy.BackGround_Img.png) no-repeat center / auto;  
    > div {  position: relative;  
      > h2 { line-height: 60px;  display: inline; 
        &::after { content: ""; display: inline-block; width: 52.31%; height: 18px; margin-inline: 4.63%; border-top: 1px solid var(--color--white);} 
      }     
      > p {  font-size: 18px;  font-weight: 200;  line-height: 30px;  top: 70px;  right: 0;  position: absolute;  text-align: right;  color: var(--color--white); }   
      > a {  font-size: 20px;  width: 44.44%;  line-height: 78px;  text-indent: 80px;  display: block;  margin-left: auto;  position: relative;  box-sizing: border-box;  border-radius: 10px;  border: 1px solid var(--color--white);  
        &:hover { background-color: var(--color--blue);  border: 1px solid var(--color--blue); } 
        &:nth-of-type(1) { margin-top: 200px; margin-bottom: 25px;} 
      } 
    } 
  }
  
  /* Event */
  .eventArea { 
    > ul { padding-inline: 50px; display: grid; grid-template-columns: 44.44% 44.44%; grid-auto-rows: 330px 130px 70px 260px 200px; gap: 0px 4.85%; 
      > li { border-radius: 20px; background-color: var(--color--blodGray); 
        &:nth-of-type(1) { grid-column: 2/3; grid-row: 1/3; } 
        &:nth-of-type(2) { grid-column: 1/2; grid-row: 2/5; } 
        &:nth-of-type(3) { grid-column: 2/3; grid-row: 4/6; } 
        &:nth-of-type(1) > a { background: url(../../public/images/main/event_01.png) no-repeat center / contain; } 
        &:nth-of-type(2) > a { background: url(../../public/images/main/event_02.png) no-repeat center / contain; } 
        &:nth-of-type(3) > a { background: url(../../public/images/main/event_03.png) no-repeat center / contain; } 
        > a { width: 100%; height: 100%; padding-top: 68px; padding-bottom: 50px; text-indent: 35px; display: flex; flex-direction: column; justify-content: space-between; box-sizing: border-box; 
          > strong { font-size: 24px; font-weight: 500; color: var(--color--blue); } 
          > p { width: 100%; font-size: 18px; font-weight: 300; position: relative; color: var(--color--white); } 
        } 
      } 
    } 
  }
  
  /* Youth */
  .youthArea { 
    padding-top: 300px; padding-bottom: 148px; background: url(../../public/images/main/iufcYouthBackGround_img.png) no-repeat bottom / cover; text-align: center; 
    h2::before { content: ""; display: block; width: 100%; height: 36px; margin-bottom: 50px; background: url(../../public/images/main/iufcYouth_img.png) no-repeat center / auto; } 
    > h2 { margin-bottom: 92px; } 
    > p { font-size: 18px; line-height: 30px; margin-bottom: 44px; } 
    > a { font-size: 20px; max-width: 480px; line-height: 80px; border-radius: 15px; display: block; position: relative; background-color: #4040408f; margin-inline: auto; } 
  }
  
  /* Sponsor */
  .sponsorArea { 
    margin-block: 150px; color: var(--color--white); text-align: center; 
    > * { margin-inline: auto; } 
    a { display: block; 
      &:nth-of-type(1) { max-width: 168px; border: 1px solid var(--color--white); padding-inline: 44px; padding-block: 17px; border-radius: 100px; font-size: 18px; font-weight: 500; box-sizing: border-box; margin-bottom: 48px; } 
      &:not(:nth-of-type(1)) { box-sizing: border-box; border: 1px solid var(--color--white); max-width: 480px; line-height: 67px; border-radius: 10px; } 
      &:nth-of-type(2) { margin-bottom: 25px; } 
      &:hover:not(:nth-of-type(1)) { background-color: var(--color--blue); border: 1px solid var(--color--blue); } 
    } 
    > h2 { margin-bottom: 103px; } 
    > ul {
      display: flex; max-width: 1290px; align-items: center; justify-content: space-between; gap: 10.39%; margin-bottom: 100px; 
      > li { height: 58px; width: 20.93%; text-indent: -9999px; 
        &:nth-child(1) { background: url(../../public/images/main/logo_sponsor_1.png) no-repeat center / contain; } 
        &:nth-child(2) { background: url(../../public/images/main/logo_sponsor_2.png) no-repeat center / contain; } 
        &:nth-child(3) { background: url(../../public/images/main/logo_sponsor_3.png) no-repeat center / contain; } 
        &:nth-child(4) { background: url(../../public/images/main/logo_sponsor_4.png) no-repeat center / contain; } 
      } 
    } 
  }
  
}

}

/* Sub page start ! */

/* Club */

.clubPage {
  /* Introduction */
  .introductionArea{
    > img { display: block;}
  };

  /* Vision */
  .mark-bg-blue{position: relative; border-bottom: 20px solid var(--color--blue); display: block;}
  .mark-bg-blue::before{ height: 20px; width:80%; background-color:var(--color--blue); top:50%; left:0; z-index:0; display:block; content:''; position: absolute; z-index: -1;}
  .visionArea { color: var(--color--white);
    > *:not(:last-child, h3){ margin-bottom: 150px;}
    > img{  display:block; width:100%;}
    h3 { font-size: 34px; font-weight: 600;}
    > h3{ margin-bottom: 70px;}
    > ol { display:flex; justify-content:space-between; width:100%; gap:2.08%; counter-reset: listNumber; 
      > li{ width:31.67%; aspect-ratio:1/1; padding-top:35px; border-radius:20px; counter-increment: listNumber; background-color:var(--color--blodGray); display:flex; flex-direction:columns; align-items:flex-start; justify-content:center; flex-wrap:wrap; 
        > p { width:100%; font-size:18px; line-height:30px; text-align:center; padding-bottom:28px; border-bottom:solid 1px var(--color--gray);}
        > p::before{ content: '0'counter(listNumber); display: block;}
        > div{ display:flex; align-items:center; justify-content:center;}
      }
    }
    > div:nth-of-type(1){ width:100%; display:flex; align-items:center; justify-content:space-between;
      > img { width: 50%;}
      > div { width:44%; font-size:34px;  display:flex; flex-direction:column; justify-content:center; font-weight:600; 
        > p {line-height: 45px; position: relative; z-index:0;} 
        > p:nth-child(1){margin-bottom: 50px;}
      }
    }
    > div:nth-of-type(2) {width: 100%;}
    > div:not(:nth-of-type(1)){
      > h3 { margin-bottom: 40px;position: relative; z-index: 1;}
      > p {color: var(--color--blue); margin-bottom: 70px;}
      > p::before { width: 14px; height:14px; margin-right:2px; display:inline-block; background-color:var(--color--blue);  content:''; border-radius:100%;}
      > ol {counter-reset: listNumber; width:100%; border-top:2px solid var(--color--gray); border-bottom:2px solid  var(--color--gray);
        > li {width: 100%; height:107px; gap:15.42%; counter-increment: listNumber; display:flex; align-items:center;
          &:not(:last-of-type){border-bottom: solid 1px var(--color--gray);}
          > div{width:33%; display:flex; align-items:center;
            &::before{content:'0'counter(listNumber); font-size:34px;  margin-right:8px; color:var(--color--gray); font-weight:900;}
            > mark {margin-right: 14px; line-height: 40px;}
            > strong {font-size: 20px; color: var(--color--blue);}
          }
          > p { font-weight:300; line-height:25px; position:relative;
            &::before{top:0; left:-7px; position:absolute; content:'-';}
            > b{font-weight:600;}
          }
        }
      }
    } 
  }

  /* Organization */
  .organizationArea {
    > mark.bg-color-blue {  line-height:33px; margin-bottom:35px;}
    > h3 { font-size:34px; margin-bottom:50px;}
    > ul { font-size: 20px; width:100%; gap:25px; margin-bottom:145px; display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap;
      > li{flex-grow: 1;   padding-inline: 35px; padding-block: 33px; border-radius:30px; border:1px solid var(--color--white); align-items: center;display:flex;background: rgb(13,14,15);background: radial-gradient(circle, rgba(13,14,15,1) 48%, rgba(26,29,30,1) 77%);
        > strong { margin-right:60px; color:var(--color--blue);}
        > p { line-height:25px; }
        &:last-of-type{align-items: flex-start;}
      }
    }
    > p { width: 100%; font-size:18px; font-weight:300; line-height:25px;
      > span{padding-top: 50px;  display: block;  color: var(--color--gray);}
      &:nth-of-type(1){margin-bottom: 70px;}
    }
  } 

  /* Emblem */
  .emblemArea {color: var(--color--white); width: 100%;
    > figure { width:100%; display:flex; justify-content:space-between; align-items:flex-start; flex-wrap: wrap;
      figcaption {width: 47.25%;
        > mark.bg-color-blue {  padding-block:7.5px; margin-bottom:36px;}
        > h3 { font-size:34px; font-weight:600; margin-bottom:50px;}
        > p { font-size:18px;  font-weight:400;  line-height:33px;  margin-bottom:50px;
          > span{ display: block; margin-bottom: 28px;}}
          > div { width: 100%;display: flex; gap: 20px;}
        }
        &:not(:last-of-type){margin-bottom: 150px;}
        > img{width: 47.25% ;}
      }
      button { padding-inline:20px 50px; line-height:54px; font-size:18px; box-sizing:border-box; border:1px solid white; border-radius:10px; position:relative; cursor: pointer;
        &::after {width:18px; height:16px; right: 2.5%; top:50%; transform:translate(-50% , -50%); background-image:url('../../public/images/club/downloadicon01.png'); content:''; position:absolute; display:inline;}
  }
  }

  /* History */
  .historyArea{
    > h2 { font-size: 70px; font-weight: 600; margin-bottom: 70px;
      > span { color: var(--color--blue);}
    }
    > img {display: block;}
    > ol{ width: 100%; position: relative;
      &::after {content: ''; height: 100%; width: 1px; background-color: var(--color--gray); position: absolute; display: block; top: 0; left: 225px;}
      > li{padding-top: 70px; width: 100%; display: flex; justify-content: flex-start; align-items:flex-start ;
        > span { width: 15.60%; margin-right: 150px; font-size: 70px; font-weight: 600; position: relative;
          &::after{content: ''; display: block; width: 10px; height: 10px; background-color: var(--color--blue); position: absolute; border-radius: 100%; left: 225px; z-index: 1; top:50%; transform: translate(-50%,-50%); }}
          > ul { font-size: 18px; line-height:25px;
            > * {display: block;}
            > strong {font-size: 34px ; margin-bottom: 50px;padding-top: 25px;}
            > li:not(:last-of-type){margin-bottom: 35px}
          }
        }
      }
    }

    /* Greeting */
    .greetingArea{
      > h2 {margin-bottom: 150px; font-size: 60px; }
      > ul {width: 100%; margin-bottom: 300px; display: flex; justify-content: space-between; flex-wrap: wrap; 
        > li {width: 46.32%; height: 484px; align-items: flex-start; justify-content: space-between; display: flex; flex-direction: column; background-repeat: no-repeat; background-position: right 0 bottom 0; background-size:auto;
          &:nth-of-type(1) {background-image: url('../../public/images/club/bg_club_greeting_owner.png');}
        &:nth-of-type(2) {background-image: url('../../public/images/club/bg_club_greeting_ceo.png');}
        > p{font-size: 34px; line-height: 40px; font-weight: 600;
          > span{font-size: 24px; margin-bottom: 32px; display: block;  color: var(--color--gray); font-weight: 600;}} 
          > button { line-height: 56px; font-size: 18px ; padding-inline: 45px ; box-sizing: border-box; border: 1px solid var(--color--white); border-radius: 5px;cursor: pointer; color: #bbbbbb;
            &::after{width:21px; height: 11px; margin-left: 15px; content: ''; display: inline-block; background: url('../../public/images/club/arrow-1.png') no-repeat center / cover; }
          &.active::after{background-image: url('../../public/images/club/arrow.png');}
        }
      }
    }
    > div {
      &.active{display: none;}
      > h3 {font-size: 60px; line-height: 75px; margin-bottom: 145px;}
      > div {margin-bottom: 135px; display: flex; align-items: flex-start;width: 100%;
        > img { width: 45%;}
        > div {width: 45%;
          > span{font-size: 24px; margin-bottom: 33px; color: var(--color--blue); display: block; font-weight: 600;}
          p{
            &:nth-of-type(1){ color: var(--color--gray); font-size: 34px; font-weight: 600; display: block; margin-bottom: 140px;}
            > span{ color: var(--color--white);}
            &:not(:first-of-type){line-height:25px;}
            &:not(:first-of-type,:last-of-type){margin-bottom: 25px;}
          }
          > strong {font-size: 24px; margin-bottom: 25px; font-weight: 400; display: block; }
        }
      }
      > p {line-height: 25px; text-align: center;
        &:not(:last-of-type){margin-bottom: 25px;}
      }
    }
  }

  /* stadiumArea */
  .stadiumArea{
    > h3{font-size: 24px; color: var(--color--blue); margin-bottom: 30px;}
    p {font-size: 18px; line-height: 25px; margin-bottom: 70px;}
    > img {display: block;margin-bottom: 70px; width: 100%;}
    > ul {display: flex; width: 100%; justify-content: space-between;
      > li {width: 31.67%;
        > strong{font-size: 24px; font-weight: 600; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid var(--color--gray); display: block; 
          &::before{content: ''; display: inline-block; width: 34px; height: 30px; background-repeat: no-repeat; background-position: center; background-size: auto; margin-right: 15px; }
        }
        &:nth-of-type(1) > strong::before{background-image: url('../../public/images/club/stadium-icon-02.png');}
        &:nth-of-type(2) > strong::before{background-image: url('../../public/images/club/stadium-icon-01.png');}
        &:nth-of-type(3) > strong::before{background-image: url('../../public/images/club/stadium-icon-03.png');}
      }
    }
    > a { padding-left: 50px; font-size: 18px; width: 75%; height: 165px; box-sizing: border-box; border: 1px solid var(--color--gray); margin-left: auto;  display: flex;align-items: center; cursor: pointer; position: relative;
      > span{display: flex; align-items: center;
        &::before{height: 35px; width: 23px; content:url('../../public/images/club/map-btn-01.png'); display: inline-block; margin-right: 15px;}
        &::after{content: url('../../public/images/club/kakaomap.png'); display: inline-block; position: absolute; right: 50px;}
      }
    }
  } 

  /* parkingArea */
  .parkingArea {
    h3 {font-size: 24px; margin-bottom: 30px;&:nth-of-type(1) { color: var(--color--blue); }}
    > p { font-size: 18px; line-height: 25px; margin-bottom: 70px; }
    > img { display: block; width: 100%; }
    > ul:nth-of-type(1) {
      gap: 2%; width: 100%; margin-bottom: 150px; flex-wrap: wrap; display: flex; justify-content: flex-start; align-items: center;
      > li {
        width: 31.67%; font-weight: 600;
        &:nth-of-type(1) { color: #b94a15; > p::before { content: url('../../public/images/club/parking_icon_01.jpg'); } }
        &:nth-of-type(2) { color: #d18302; > p::before { content: url('../../public/images/club/parking_icon_02.jpg'); } }
        &:nth-of-type(3) { color: #544fa3; > p::before { content: url('../../public/images/club/parking_icon_03.jpg'); } }
        &:nth-of-type(4) { color: #cb3117; font-weight: 400; > p::before { content: url('../../public/images/club/parking_icon_04.jpg'); } }
        &:nth-of-type(5) { color: #2d2792; > p::before { content: url('../../public/images/club/parking_icon_05.jpg'); } }
        > p::before { width: 100%; padding-top: 68px; padding-bottom: 34px; margin-bottom: 30px; display: block; border-bottom: 1px solid var(--color--gray); }}
      }
      > ul:nth-of-type(2) {
        display: flex; width: 100%; align-items: flex-start; justify-content: space-between; margin-bottom: 150px;
        > li {
          width: 31.67%;
          > img { display: block; width: 100%; margin-bottom: 35px; }
          > strong {
            width: 100%; font-size: 24px; font-weight: 600; height: 45px; margin-bottom: 34px; gap: 14px; display: flex; align-items: center;
            &::before { width: 45px; height: 45px; }
            &:nth-of-type(1) { color: #544fa3; &::before { content: url('../../public/images/club/parking_icon_06.jpg'); display: inline-block; } }
            &:nth-of-type(2), &:nth-of-type(3) { color: #d55518; &::before { content: url('../../public/images/club/parking_icon_07.jpg'); display: inline-block; } }
            &:nth-of-type(3) { &::before { content: url('../../public/images/club/parking_icon_08.jpg'); } }
          }
          > p { line-height: 25px; font-size: 16px; font-weight: 400; }}
        }
        > div {
          font-size: 18px; display: flex; align-items: center; justify-content: space-between; padding-inline: 50px; padding-block: 30px; border: 1px solid var(--color--gray); box-sizing: border-box;
      > ul > li {
        display: flex;
        &:not(:last-of-type) { margin-bottom: 20px; }
        &::before { content: url('../../public/images/club/parking_bus.png'); display: inline-block; margin-right: 15px; }
        &:nth-last-of-type(1)::before { content: url('../../public/images/club/parking_train.png'); }}
        > div {
          display: flex; gap: 50px; text-align: center;
          > span {
            > img { margin-bottom: 20px; }
            > p { line-height: 25px; font-weight: 400; > span { color: var(--color--gray); } }
          }}
        }
      }


}


/* player */

.playerPage{

    /* CoachingStaff */
    .coachingStaffArea {
    > h2 {height: 0.1px; text-indent: -9999px;} 
    > div { width: 100%; gap: 10%; display: flex;align-items: flex-start; padding-inline: 50px; margin-bottom: 150px; flex-wrap: wrap;
      > * {width: 41.61%;}
      > div { font-size: 24px;
      > button {width: 50%; height: 62px; cursor: pointer; box-sizing: border-box; border: 1px solid var(--color--gray);
        &.active{background-color: var(--color--gray);}
      }
    }
    .coachProfile,.coachBriefHistory {padding-top: 150px;}
    .coachProfile{
      > span {margin-bottom: 25px; color: var(--color--blue); display: block;}
      > strong{line-height: 35px; display: block; margin-bottom: 35px;
        > span{ color: var(--color--gray);}
      }
      > ul{
        > li{font-size: 18px; line-height: 75px;display: flex; font-weight: 400;
          > span{width: 90px; margin-right: 50px; color: var(--color--gray);}
        }
      } 
    } 
    .coachBriefHistory{
      > strong {font-size: 34px; line-height: 45px; margin-bottom: 70px; display: block;} 
      > ul {font-size: 18px; line-height: 40px; font-weight: 400; 
        > li {display: flex; gap: 30px; 
          > span {width:90px; color: var(--color--gray);}
          > div > p > span {width: 170px; display: inline-block;}
        }
      }
    } 
  }
  > h3 {font-size: 24px; margin-bottom: 70px;}
  > ul {width: 100%; justify-content: space-evenly; display: flex;  flex-wrap: wrap;  align-items: center; margin-bottom: 50px;
    > li {flex-direction: column; padding-block: 75px; flex-basis: 480px; box-sizing: border-box; flex-grow: 0;display: flex; align-items: center; justify-content: center; text-align: center; position: relative;
      &:hover > img {filter: blur(5px); -webkit-filter: blur(5px);}
      &:hover > button {display: block; cursor: pointer;}
      > button {font-size: 18px; width: 185px; line-height: 65px; border: 1px solid var(--color--white); position: absolute;border-radius: 10px; display: none;}
      > p {font-size: 34px; line-height: 45px; font-weight: 600; bottom: 5%; position: absolute;  
        > span {color: var(--color--gray);}
      }
    }
    >  div {display: flex; position: absolute}
    > .popup-OverLay { position: fixed; top: 0;  left: 0; width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.904); display: none; justify-content: center; align-items: center; z-index: 9999;
      &.active{display: flex;}
      > .popup-Content {gap: 10%; padding-top: 100px; box-sizing: border-box;  padding-inline: 10%; display: flex; width: 75%; background: url(../../public/images/player/bg_coach_profile.png) no-repeat left 5% top 10% / auto;  background-color: var(--color--black); position: relative;
        > button {  top: 40px; right: 40px; width: 65px; height: 65px; border: 1px solid var(--color--gray); border-radius: 100%; text-indent: -9999px; font-size: 0.1px; position: absolute; display: inline-block; background: url(../../public/images/player/closeBtn.png) no-repeat center / auto; cursor: pointer; }
        > img {width: 40%;}
        > div {width: 50%;
               > div {width: 100%; margin-bottom: 140px;}
               > p {font-size: 34px; font-weight: 600;  margin-bottom: 60px;
                > span {margin-left: 20px; color: var(--color--gray);}
              }
              > ul {
                > li { font-size: 18px; font-weight: 500; display: flex; align-items: flex-start; justify-content: flex-start; line-height: 40px;
                  > span {color: var(--color--gray); width: 100px; display: inline-block; margin-right: 50px;}
                  > div {display: flex; justify-content: space-between;}
                      > div > p:nth-of-type(1){margin-right: 30px;}
                    }
                  } 
                  > div{
                    > button {font-size: 24px; font-weight: 600; width: 50%; line-height: 60px; cursor: pointer; border: 1px solid var(--color--gray);
                      &.active {background-color: var(--color--gray);}
                    }
              }
            }
          }
      }
    }
  }

  /* ProArea */
  .proArea {
    > h2 {font-size: 0.1px; text-indent: -9999px;}
    > div { width: 100%; gap: 50px ; margin-bottom: 150px; display: flex; justify-content: flex-start; align-items: center; 
      > button {font-size: 18px; cursor: pointer; font-weight: 400; 
        &.active {color: var(--color--blue);}
      }
    }
    > ul {width: 100%;
      > li { width: 100%;
          > p {font-size:24px; font-weight: 600; margin-bottom: 70px; letter-spacing: 3px;}
          > ul { width: 100%; gap: 5%; flex-wrap: wrap; display: flex; align-items: center; 
            > li { padding-inline: 10px; min-width: 350px; width: 30%; padding-bottom: 150px;  box-sizing: border-box; position: relative;
              > img { width: 100%;}
              > div {padding-top: 40px; width: 100%; gap: 30px; color: var(--color--gray); display: flex; align-items: center; justify-content: flex-start;
                > span{font-size: 100px; font-weight: 900;}
                > p {font-size: 28px; font-weight: 600; line-height: 40px;
                  > span {color: var(--color--white);}
                }
              }
              > button {font-size: 18px; width: 185px; line-height: 65px; border: 1px solid var(--color--white); position: absolute;border-radius: 10px; transform: translate(-50% , -50%); left: 50%; top: 35%; display: none;}
              &:hover > img {filter: blur(5px); -webkit-filter: blur(5px);}
              &:hover > button {display: block; cursor: pointer;}
              > span > img {display: block; width: 100%;}
              > p {width: 100%; top: 10%; left: 10%; font-size: 28px; position: absolute; font-weight: 600; 
                > span { padding-left: 10px; color: var(--color--gray);}
              }
            }
          }
      }
    }
    .popup-Overlay{ left: 0; position: absolute ; width: 100vw; height: 100vh; overflow-y: auto;  background-color:var(--color--black); color: var(--color--white); z-index: 9999;
      > .popup-contents{
        > div:nth-of-type(1) { width: 100%; padding-top:50px; margin: 0 auto; justify-content: space-evenly; align-items: center; display: flex; color: var(--color--white); margin-bottom: 50px; position: relative; 
          > button {top: 100px; right: 10%; width: 65px; height: 65px; border: 1px solid var(--color--gray); border-radius: 100%; text-indent: -9999px; font-size: 0.1px; position: absolute; display: inline-block; background: url(../../public/images/player/closeBtn.png) no-repeat center / auto; cursor: pointer; }
          > img {width: 33.3%; aspect-ratio: 314/355;}
        > div { width: 33.3%;
          > p {display: flex; align-items: center; margin-bottom: 50px;
            > span {margin-right: 15px; font-size: 100px; font-weight: 900; color: var(--color--gray);}
            > b {font-size: 28px; font-weight: 600; line-height: 40px;
              > span {color:var(--color--gray);}
            }
          }
             > 
             ul{
               &:nth-of-type(1) { width: 100%; display: flex; padding-left:40px; gap: 85px; margin-bottom: 35px;
                li{
                  &::before{margin-right: 10px ; position: absolute; left: -40px; top: 0; }
                  &:nth-of-type(1)::before{content: url(../../public/images/player/pro_popup_icon_001.jpg);}
                  &:nth-of-type(2)::before{content: url(../../public/images/player/pro_popup_icon_002.jpg);}
                  &:nth-of-type(3)::before{content: url(../../public/images/player/pro_popup_icon_003.jpg);}
                }
              }
              &:nth-of-type(2){
                > li {height: 50px; margin-bottom: 25px; display: flex; align-items: center; color: var(--color--white); width: 100%;
                  > span { width: 125px;  font-size: 18px; font-weight: 500; color: var(--color--gray);}
                    &::before{margin-right: 25px; display: block; width: 50px ; height: 50px; border-radius: 5px; }
                    &:nth-of-type(1)::before{content: url(../../public/images/player/pro_popup_icon2_01.jpg);}
                    &:nth-of-type(2)::before{content: url(../../public/images/player/pro_popup_icon2_02.jpg);}
                    &:nth-of-type(3)::before{content: url(../../public/images/player/pro_popup_icon2_03.jpg);}
                  }
                } 
                &:nth-of-type(2) > li:nth-of-type(4)::before{content: url(../../public/images/player/pro_popup_icon2_04.jpg);}
                > li{font-size: 18px; color: var(--color--gray); font-weight: 600; position: relative;
                  > strong {line-height: 120px; display: block; font-size: 100px; color: var(--color--white);}
                }
                }
              }
            }
       > p {font-size: 24px ; font-weight: 600; margin-bottom: 45px;}
       > table {padding-top: 45px; padding-bottom: 30px;  margin-bottom: 150px; width: 100%; background-color: var(--color--blodGray); border-radius: 20px; text-align: center;
        > thead > tr > th {padding-block: 40px; color: var(--color--gray);}
        &:nth-of-type(1){
          > thead > tr > th {font-size: 22px;}
          > tbody > tr > td {font-size: 50px; font-weight: 600; padding-bottom: 40px; color: var(--color--blue);}
        } 
      }
      > div:nth-of-type(2){ margin-bottom: 45px; display: flex; width: 100%;
         > p{ font-size: 24px; font-weight: 600; }
         > div {margin-left: auto; font-size: 18px; gap: 40px; display: flex; 
          > button.active{color: var(--color--blue);}
        }
      }
       > table:nth-of-type(2) {height: 2220px;}
      }
    }
  } 

  /* ScheduleArea */
  .scheduleArea {
    > h2{font-size: 0.1px; text-indent: -9999px;}
  } 
}

/* matchCenter */

.matchCenterPage{

  /* gameSchedule */
  
  .gameScheduleArea{
      > .games { width: 100%;
        > p {text-align: center; border-block: 1px solid var(--color--gray); line-height: 60px; text-transform: uppercase;
      }
      > ol { width: 100%;
        > li{width: 100%; height: 256px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid var(--color--gray);
          > div:nth-of-type(1){ width: 27%;
            > span { display: block; margin-bottom: 30px; left: 0; top: 25px;width: 40px; height: 40px; background-color: lightslategray; display: flex; align-items: center; justify-content: center; border-radius: 100%;}
            > p {font-size: 20px; margin-bottom: 20px;}
            > small { font-size: 16px; display: block; margin-bottom: 35px; }
            > mark { line-height: 23px; font-size: 16px;  color: var(--color--gray); background-color: transparent; display: block; font-weight: 600; display: flex;
              &::before{content: url(../../public/images/matchCenter/map_icon.png); display: inline-block; margin-right: 5px;}            
            }       
          }
          > div:nth-of-type(2){
            width: 44%;display: flex; gap: 3%; justify-content: space-around; align-items: center; font-size: 32px; font-weight: 600;
            > strong {width: 130px; text-align: center;}
            > span{ aspect-ratio: 1/1; width: 130px; display: block; background-color: var(--color--blodGray); display: flex; align-items: center; justify-content: center; border-radius: 100%;}
          }
          >div:nth-of-type(3) {display: flex; width: 27%; align-items: center; justify-content: center; gap: 30px;
            > * {border: 1px solid var(--color--white); line-height: 36px; padding-inline: 15px; border-radius: 5px;}
          }
        }
      }
    }
  }


  /* ranking */
  .rankingArea {
    > p {margin-bottom: 35px;}
    > table{ width: 100%; text-align: center; line-height: 55px;
      tr { border-block: 1px solid var(--color--gray);
      > td:nth-of-type(2) { position: relative;
          > img {position: absolute; left: 25%; top:50%; transform: translate(-50% , -50%) ;}
        }
      }
    }
  }

}

/* fanZone */

.fanZonePage{

/* vod */
.vodArea {
  > ul{width: 100%; margin-bottom: 50px;
    > li { width: 100%; display: flex; flex-direction: column; align-items: center; cursor: pointer;
      &:nth-of-type(1){
        > p {border-top: 1px solid var(--color--gray);}
      }
      > *{padding-block: 25px; padding-inline: 25px;}
      > p{font-size: 18px; display: flex; align-items: center; gap: 25px; border-bottom: 1px solid var(--color--gray); width: 100%;
        &::before{content: url(../../public/images/fanZone/ico_vod_play.png);}
      }
      > iframe {width: 100%; aspect-ratio: 1390/815; display: none;}
      &.active{ padding-top: 25px;
          > p {border: 1px solid var(--color--gray); border-radius: 10px;
            &::before{content: url(../../public/images/fanZone/ico_vod_play_on.png);}
          }
          > iframe {display: block;}
          + li > p {border-top: 1px solid var(--color--gray);}
        }
      }
    }
    > a {display: block; max-width: 185px; border: 1px solid var(--color--white); box-sizing: border-box; line-height: 65px; font-size: 18px; margin: 0 auto; text-align: center; border-radius: 10px; margin-bottom: 150px;}
  }

  /* announcement */
  .announcementArea{margin-bottom: 150px;}

  /* gallaryArea */
  .gallaryArea{
    > ul{grid-template-columns: repeat(3,1fr); display: grid; gap: 30px; width: 100%;
      > li {position: relative; cursor: pointer;
        > a {
          &:hover{
            > p{display: block;}
          }
          > img{ width: 100%; display: block;}
          > p{display: none; position: absolute ;bottom: 0; left: 0; font-size: 14px; background-color: var(--color--blodGray); width: calc(100%); line-height: 40px;
            > span{margin-left: 15px;}
          }
      }
    }
  }
}

/* magazineArea */
.magazineArea{
  > ul {display: flex; align-items: center; justify-content: flex-start; width: 100%; flex-wrap: wrap; gap: 2.08%;
    > li {width: 23.44%; position: relative; font-size: 14px;
      > a {
        > span {position: absolute; top: 0; line-height: 30px; display: block; padding-inline: 12px; background-color: var(--color--black); }
        > img {margin-bottom: 25px; display: block; width: 100%;}
        > p {margin-bottom: 50px;}
      }
    }
  }
}

  /* cheearSongArea */
  .cheearSongArea {
    > div {width: 100%;
      > details {font-size: 18px; width: 100%; cursor: pointer; position: relative; border-bottom: 1px solid var(--color--white);
        &::after{content: url(../../public/images/fanZone/arrow-up.png); width: 26px; height: 14px; position: absolute; display: block; top: 35px; right: 5%; transform: translate(-50%,-50%);}
        &.active{ border-bottom: 0;
          &::after{content: url(../../public/images/fanZone/arrow_down.png);}
          &:not(:first-of-type){margin-top: 25px;}
          > summary {color: var(--color--white); border-radius: 10px; border: 1px solid var(--color--white);
            > button {z-index: 1;}
          }
          > div{
            &:nth-last-of-type(1){border-bottom: 1px solid var(--color--white);}
          }
        }
        > summary{ padding-inline: 25px; height: 70px;  display: flex; align-items: center; color: var(--color--gray);
          &::before{content: url("../../public/images/fanZone/sound_icon.png"); width: 21px; height: 21px; display: block; margin-right: 25px;}
          > button {background: url("../../public/images/fanZone/musicPlay_icon.png") no-repeat center / cover; width: 21px; height: 21px; margin-left: 25px; cursor: pointer; z-index: -1;
            &.playing{background-image: url(../../public/images/fanZone/ico_cheersong_stop.png);}
          }
        }
        > div {padding: 25px; line-height: 25px;
          > p:nth-last-of-type(1){margin-bottom: 35px;}
          > button { display: block; margin-left: auto; line-height: 32px; padding-left: 15px; padding-right: 38px; border: 1px solid var(--color--white); border-radius: 10px; position: relative;
            &::after{content: url(../../public/images/fanZone/downLoad_icon.png); position: absolute; height: 13px; width: 7px; right: 10%; }
          }
        }
      }
    }
  }

  /* cheeringGrounds */
  .cheeringGroundsArea{
    > .boardList + div{margin-bottom: 50px;}
    > button {display: block; margin-left: auto;
      > a {line-height: 65px; font-size: 18px; padding-inline: 70px; border: 1px solid var(--color--white); display: block; border-radius: 10px;}
    }
  }

  /* event */
  .eventArea{ 
    > div.year-search-box{
      > ul {
        > li {
            ol{left: -175%;}
          }
        }
      }
      > ul{width: 100%; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; gap: 2%;
        > li{width: 47%; margin-bottom: 50px;
          > a {
            > img{display: block; width: 100%; margin-bottom: 30px;}
            > mark{font-size: 18px; background-color: var(--color--gray); color: var(--color--white); line-height: 36px; padding-inline: 16px; display: inline-block; border-radius: 20px; margin-bottom: 35px;}
            > p {font-size: 24px; margin-bottom: 17px;}
            > small {font-size: 14px;}
          }
        }
      }
    }
  
  /* lostItem */
  .lostItemtArea{
    > ul {width: 100%; display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap; gap: 2%;
      > li {width: 32%; margin-bottom: 40px; position: relative;
        a {
          &:hover{
            >  p {display: block;}
            }
            > img {width: 100%; display: block;}
            > p { position: absolute; width: 100%; bottom: 0%; line-height: 40px; background-color: var(--color--blodGray);left: 0; display: none;
              &::before{content: '';width: 15px; height: 10px; display: inline-block;}
              &::after{content: url(../../public/images/fanZone/lostItem_arrow.png); width: 14px; height: 9; display: inline-block; margin-left: 50% }
            }  
          }
        }
      }
    }
}

/* ticketMembership */

.ticketMembershipPage{
  h2 {color: var(--color--blue); font-size: 60px; font-weight: 600; margin-bottom: 150px; text-align: center;}
  .ticketsTitleBox{ margin-bottom: 50px; text-align: center;
    > img{margin-bottom: 70px;}
    > p {font-size: 34px; font-weight: 600; margin-bottom: 40px;}
  }
  .ticktetsNoteBox{ border: 1px solid var(--color--gray) ; padding-bottom: 20px;
    > strong {display: inline-block; margin-bottom: 34px; font-size: 20px ; font-weight: 600; line-height: 40px; padding-inline: 10px; background-color: var(--color--gray);}
    > p {font-size: 12px; line-height: 25px; padding-left: 30px; font-weight: 200;}
    
  }
  
  /* buyTicket */
  .buyTicketsArea { max-width: 1080px; margin: 0 auto;
    > *:not(h3) {margin-bottom: 150px;}
    > div:nth-of-type(2) {display: flex; align-items: center; justify-content: space-between;  max-width: 870px; margin-inline: auto; margin-bottom: 150px;
      > a {line-height: 70px; border-radius: 5px; font-size: 18px; font-weight: 900; display: flex; align-items: center; justify-content: center; width: 31%;
        &:nth-of-type(3){color: var(--color--black);}
        &::before{margin-right: 10px; width: 20px; height: 25px; display: inline-block; content: '';}
        &:nth-of-type(1)::before{background: url(../../public/images/ticketMembership/icon-2.png) no-repeat center / auto;}
        &:nth-of-type(2)::before{background: url(../../public/images/ticketMembership/icon-1.png) no-repeat center / auto;}
        &:nth-of-type(3)::before{background: url(../../public/images/ticketMembership/icon.png) no-repeat center / auto;}
        &:nth-of-type(1){background-color:#005ec8;}
        &:nth-of-type(2){background-color:#666666;}
        &:nth-of-type(3){background-color:#f2cd00;}
      }
    }
    > h3 {font-size: 40px; margin-bottom: 50px; text-align: center; font-weight: 900; color: var(--color--blue);}
    > p {font-size: 18px; text-align: center; line-height: 34px;}
    .seat{
      > ul { gap: 10px;
        > li {
          > p {font-size: 18px;}
        }
      }
    }
    table {font-size: 18px; border-collapse: collapse; width: 100%; line-height: 35px;
      &:nth-of-type(1),&:nth-of-type(3){margin-bottom: 40px;}
      caption {text-align: left; font-size: 40px; color: var(--color--blue); font-weight: 600; margin-bottom: 35px;}
      thead{background-color: var(--color--gray);}
      tr,td,th{border: 1px solid var(--color--white); text-align: center; }
      th,td{padding-block: 25px; vertical-align: middle;}
    }
    > strong { color: var(--color--blue); font-size: 16px; line-height: 25px; text-align: right; display: block; font-weight: 400;}
    h4 {font-size: 40px; font-weight: 600; 
      &:nth-of-type(1){margin-bottom: 30px;}
    }
    > ul {display: flex; width: 100%; align-items: center; justify-content: space-between;
     > li {width: 24%; 
      &:nth-of-type(1) a {background-image: url(../../public/images/ticketMembership/경기관람안내_1.png);}
      &:nth-of-type(2) a {background-image: url(../../public/images/ticketMembership/경기관람안내_2.png);}
      &:nth-of-type(3) a {background-image: url(../../public/images/ticketMembership/경기관람안내_3.png);}
      &:nth-of-type(4) a {background-image: url(../../public/images/ticketMembership/경기관람안내_4.png);}
      > a { width: 100%; aspect-ratio: 248/165; display: block; background-repeat: no-repeat; background-position: center; background-size: auto; position: relative;
          > span {position: absolute; left: 5%; top: 10%;  line-height: 34px; border: 1px solid var(--color--white); border-radius:20px;padding-inline: 10px; font-size: 14px;}
        }
       }
    }
    > div:nth-of-type(6) {display: flex; align-items: flex-start; justify-content: space-between; width: 100%;
      > div:nth-of-type(1) { width: 49%;  box-sizing: border-box;
        > div {background-color: var(--color--blue);  padding-inline: 25px; border-radius: 10px; height: 240px;
          > p { font-size: 24px; font-weight: 600; display: flex; justify-content: space-between; line-height: 42px;
            &:nth-of-type(1) {padding-top: 35px;}
            & + p {margin-bottom: 30px;}
            > strong {font-size: 34px; font-weight: 900; }
            }
          > a {font-size: 20px; font-weight: 600; padding-inline: 20px; line-height: 36px; border: 1px solid var(--color--white); border-radius: 20px;
              &::after{content: ''; width: 15px; height: 10px; display: inline-block; background: url(../../public/images/ticketMembership/arrow.png); margin-left: 10px;}
            }
          } 
      }
      > div:nth-of-type(2) {width: 49%; 
        > div{ display: flex; align-items: center; justify-content: space-between; 
             > a {width: 49%;  max-width: 248px; aspect-ratio: 248/240; background-repeat: no-repeat; background-size: cover; background-position: center; border-radius: 10px;
              &:nth-of-type(1) {background-image: url(../../public/images/ticketMembership/좌석안내비디오.png);}
              &:nth-of-type(2) {background-image: url(../../public/images/ticketMembership/경기장\ 반입\ 절차.png);}
            }
          }
        }
    }
  }


  /* groupTourArea */
  .groupTourArea { 
    > *:not(h3) {margin-bottom: 150px;}
    > table { width: 100%;  margin: 20px 0; font-size: 18px; text-align: center; 
      caption {text-align: left; font-size: 40px; color: var(--color--blue); font-weight: 600; margin-bottom: 35px;}
      thead tr:nth-of-type(1) {background-color: var(--color--gray); font-weight: 600;}
      thead tr:nth-of-type(2) {
        > th:nth-of-type(even){background-color: var(--color--blue);}
        > th:nth-of-type(odd){background-color: #444444;}
      }
      th,td {line-height: 60px; border: 1px solid var(--color--white); vertical-align: middle;
      &:nth-of-type(1) { border-left: 0;}
      &:nth-last-of-type(1) {border-right: 0;}
      }
    }
    > strong {color: var(--color--blue); text-align: right; display: block;line-height: 25px; font-weight: 400;}
    > h3 {margin-bottom: 35px; font-size: 40px; font-weight: 600;}
    > div:nth-of-type(4) { display: flex; max-width: 535px; align-items: center; gap: 30px; flex-wrap: wrap;
      > a {flex-basis: 250px; aspect-ratio: 250/165; background-repeat: no-repeat; background-size: auto; background-position: center; height: 165px; position: relative;
        &:nth-of-type(1){background-image: url(../../public/images/ticketMembership/경기관람안내_3.png);}
        &:nth-of-type(2){background-image: url(../../public/images/ticketMembership/경기관람안내_4.png);}
        > span {line-height: 34px; border-radius: 20px; border: 1px solid var(--color--white); position: absolute; top: 10%; left: 5%; padding-inline: 10px;}
      }
    }
    > div:nth-of-type(5) {background-color: var(--color--blue); max-width: 535px; padding-block: 35px; padding-inline: 25px; border-radius: 10px;
       > p {font-size: 24px; font-weight: 600; display: flex; justify-content: space-between; margin-bottom: 50px;
        > strong {font-weight: 900; font-size: 34px;}  
      }
      > div {display: flex; align-items: center; gap: 18px; justify-content: flex-start;
        > a {border: 1px solid var(--color--white); line-height: 36px; padding-inline: 20px; border-radius: 20px;
          &::after{content: ''; width: 15px; height: 10px; display: inline-block; background: url(../../public/images/ticketMembership/arrow.png); margin-left: 10px;}          
         }
      }
    }
  }

  /* membership */
  .buyMembershipArea { 
    &:last-child{margin-bottom: 150px;}
    > h2 {margin-bottom: 50px;}
    > p {font-size: 34px; font-weight: 600;text-align: center; margin-bottom: 70px;}
    > div {margin-bottom: 70px;  text-align: center;
      > a {background-color: var(--color--blue); line-height: 85px; padding-inline: 70px; display: inline-block; font-size: 40px; font-weight: 900;}
    }
    > img {display: block; width: 100%;}
  }

  /* FAQ */
  .frequentlyQandAArea {
    > h2 {font-size: 40px; font-size: 600; color: var(--color--white); text-align: left; margin-bottom: 35px;}
    > details {border: 1px solid var(--color--gray);
      &:not(:nth-last-of-type(1)){border-bottom: 0;}
      > summary {line-height: 113px; list-style-type: none; color: var(--color--gray); padding-inline: 35px; cursor: pointer;
        &.active{color: var(--color--blue);}
        &::before {content: 'Q.'; margin-right: 20px;}
        }
      > div { border-top: 1px solid var(--color--gray); padding-block: 50px; line-height: 25px; background-color: var(--color--blodGray); position: relative;
        > p {padding-left: 75px;  font-size: 15x;}
        &::before {content: 'A.'; margin-right: 20px; display: inline; position: absolute; left: 35px;}   
      }
    }
  }
}