/* MainSlide */
.mainSlide-container{width: 100%;}
.mainSlide-container{padding-top: 130px; margin-bottom: 330px; position: relative;}
.mainSlide-container .slideList{width: 100%;}
/* 기존 Nav btn 캔슬 */
.mainSlide-container > .slick-prev:before,.slick-next:before { display: none;}
.mainSlide-container .slick-arrow{z-index: -1;}
.slick-track::after{display: none;}
.mainSlide-container button{bottom: -105px; width: 16px; height: 18px; position: absolute; background-size: cover; background-repeat: no-repeat; background-position: center; cursor: pointer;}
.mainSlide-container >.btn-prev{right: 14.14%; background-image:url('../../public/images/main/bannerprev.png');}
.mainSlide-container > .btn-next{right: 12.12%; background-image:url('../../public/images/main/bannernext.png');}
.mainSlide-container .slick-dots{width: 100%; bottom: -85px; text-align: center; height: 15px;}
.mainSlide-container .slick-dots > li{ position: relative; margin:0; background-color: navy; width: 50px; height: 3px; background-color: white;}
.mainSlide-container .slick-dots > li:nth-of-type(1)::after{width: 15px; height: 15px; position: absolute; left: -35px ; top : -5px; display: inline; content: '01';color: white;}
.mainSlide-container .slick-dots > li:nth-last-of-type(1)::after{width: 15px; height: 15px; right:-35px ; top : -5px; display: inline;content: '03';color: white; position: absolute;}
.mainSlide-container .slick-dots > li.slick-active{background-color:#0061c6;}
.mainSlide-container .slick-dots > li > button{display:none;}
.mainSlide-container .slide-item > img{width: 100%;}
.mainSlide-container .slick-arrow {left: 1%;}
/* Match  */
.matchArea {margin-bottom: 150px;color: var(--color--white);}
.matchArea > h2{ position: relative; display: flex; align-items: center; justify-content: center; margin-bottom: 70px; height: 50px; }
.matchArea > h2 > span{z-index: 0; padding-inline: 50px; background-color: var(--color--black);}
.matchArea > h2::before{ width: 100%; height: 1px;  left: 0; top: 50%; transform:  translate(0%,-50%); background-color: var(--color--white); content: ''; position: absolute; z-index: 0;}
.matchArea > .leagueAndMatch {width:100%; gap:20px;  display:flex; align-items:flex-start; justify-content:flex-start;position:relative;}
.matchArea > .leagueAndMatch > .league-table{ box-sizing: border-box; width:31.90%; aspect-ratio:461/469; background-color:#282828; border-radius:20px;}
.matchArea > .leagueAndMatch > .league-table {padding-block: 50px; padding-inline: 40px; display: flex; align-items: center;}
.matchArea > .leagueAndMatch > .league-table:hover{animation: slideTop 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 backwards;}
.matchArea > .leagueAndMatch > .league-table > table {width: 100%; text-align: center; line-height: 45px;}
.matchArea > .leagueAndMatch > .league-table > table > caption {font-size: 24px ; font-weight: 600; text-align: left; margin-bottom: 30px; padding-left: 20px;}
.matchArea > .leagueAndMatch > .league-table > table > * > tr {color: var(--color--gray); font-size: 16px; font-weight: 500;}
.matchArea > .leagueAndMatch > .league-table > table > tbody tr:nth-last-of-type(1){border: 3px solid var(--color--blue);}
.matchArea > .leagueAndMatch > .league-table > table > tbody > tr > *:nth-last-child(1){color: var(--color--white);}
.matchArea > .leagueAndMatch > .league-table > table > tbody  tr > td:nth-of-type(2){position: relative; width: 45px;text-align: right;}
.matchArea > .leagueAndMatch > .league-table > table > tbody tr > td:nth-of-type(2)::before{content: url(../../public/images/main/leagueTable_junbuk.icon.png); margin-right: 5px; position: absolute; transform: translate(-50%,-50%); left: 0%; top: 55%;}
.matchArea > .leagueAndMatch > .league-table > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2)::before {content: url(../../public/images/main/leagueTable_jeju.icon.png);}
.matchArea > .leagueAndMatch > .league-table > table > tbody > tr:nth-of-type(2) > td:nth-of-type(2)::before {content: url(../../public/images/main/leagueTable_daejeon.icon.png);}
.matchArea > .leagueAndMatch > .league-table > table > tbody > tr:nth-of-type(3) > td:nth-of-type(2)::before {content: url(../../public/images/main/leagueTable_junbuk.icon.png);}
.matchArea > .leagueAndMatch > .league-table > table > tbody > tr:nth-of-type(4) > td:nth-of-type(2)::before {content: url(../../public/images/main/leagueTable_daegu.icon.png);}
.matchArea > .leagueAndMatch > .league-table > table > tbody > tr:nth-of-type(5) > td:nth-of-type(2)::before {content: url(../../public/images/main/leagueTable_incheon.icon.png);}
.matchArea > .leagueAndMatch > .matchSlide-container {width:65.81%;}
.matchArea > .leagueAndMatch > .matchSlide-container .slide-item { width:31.90%; background-color :var(--color--black); padding-inline: 10px; box-sizing: border-box; }
.matchArea > .leagueAndMatch > .matchSlide-container .slick-list {overflow-x: scroll; padding-bottom: 70px;}
.matchArea > .leagueAndMatch > .matchSlide-container .slick-track{ display: flex;}
.matchArea > .leagueAndMatch > .matchSlide-container .slide-item > div {width: 100%; aspect-ratio:461/469; background-color: #282828 ; border-radius:20px; }
.matchArea > .leagueAndMatch > .matchSlide-container .slick-list::-webkit-scrollbar{background-color: var(--color--gray);border-radius: 5px;}
.matchArea > .leagueAndMatch > .matchSlide-container .slick-list::-webkit-scrollbar-thumb{background-color: #161616; width: 50%; border-radius: 4px;}
.matchArea > .leagueAndMatch > .matchSlide-container .slick-arrow{z-index: -1;}

@keyframes slideTop{
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      25% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
      }
      50% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      75% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
      }
      100%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
      }
}

/* Market */
.marketArea { color: var(--color--white); margin-bottom: 148px;}
.marketArea h2 { margin-bottom: 50px; text-align: center;}
.marketArea > a { max-width: 250px; font-size: 18px; line-height: 55px; padding-left: 40px; margin-inline: auto; margin-bottom: 70px; display: block; position: relative; box-sizing: border-box; border: 1px solid var(--color--white); border-radius: 30px;}
.marketArea > ul { width: 100%; display: grid; gap: 30px; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2,1fr);}
.marketArea > ul > li:hover { border: 5px solid var(--color--blue);}
.marketArea > ul > li { overflow: hidden; background-color: var(--color--blodGray); border: 5px solid var(--color--blodGray); border-radius: 30px;}
.marketArea > ul > li > a{ max-width: 455px; aspect-ratio: 455/377;  display: flex; align-items: center; justify-content: flex-start; flex-direction: column; text-align: center;}
.marketArea > ul > li:nth-child(3){ grid-column: 3/4; grid-row: 1/3; position: relative; display: flex; align-items: center; justify-content: center;}
.marketArea > ul > li > a > p{ width: 100%; line-height: 78px; font-size: 18px; background-color: var(--color--gray);}
.marketArea > ul > li:nth-child(3) > a > p{ bottom: 0; position: absolute;}


/* Feed */
.feedArea {margin-bottom: 145px;color: var(--color--white);}
.feedArea > h2 { margin-bottom: 50px;}
.feedArea > .tap-container { width: 62.69%; margin-bottom: 48px; display: flex; justify-content: flex-start; align-items: center; gap: 7.74%;}
.feedArea > .tap-container > .tap-item { font-size: 18px; font-weight: 400; cursor: pointer;}
.feedArea > .tap-container > .tap-item.active { color: var(--color--blue);}
.feedArea > .feedSlide-container{ position: relative;}
.feedArea > .feedSlide-container > button{ width: 30px; height: 30px; background-position: center; background-repeat: no-repeat; border-radius: 100%; position: absolute; transform: translate(-50% , 400%); z-index: 9999; cursor: pointer;}
/* 커스텀 에로우 */
.feedArea > .feedSlide-container > .btn-next{ background: url(../../public/images/main/_.png) no-repeat center / cover; right: -20px;}
.feedArea > .feedSlide-container > .btn-prev{ background: url(../../public/images/main/_-1.png) no-repeat center /cover; left: -10px;}
/* 기존 에로우 캔슬 */
.feedArea .slick-arrow,.slick-arrow::before{ z-index: -9999; display: none;}
.feedArea > .feedSlide-container .slide-item > div{ margin: 0; padding: 0;  width:338px; aspect-ratio:338/380; border-radius:20px; box-sizing:border-box; display:flex; flex-direction:column; }
.feedArea > .feedSlide-container .slide-item > div img{ width:100%; aspect-ratio:338/250; margin-bottom:26px; border-radius:20px 20px 0 0; background-color:#161616; }
.feedArea > .feedSlide-container .slide-item > div p{ font-size:18px; line-height: 25px; max-width:340px; font-weight:400;}
.feedArea > .feedSlide-container .slide-item > div strong{ margin-right:5px; text-transform:capitalize; display:inline; color:#ffea00;}


/* Gallrey */
.galleryArea > h2{ height: 1px ; text-indent: -9999px;}
.galleryArea > ul { width: 100%; margin-bottom: 145px; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 430px 675px; grid-gap: 70px 2.78%; text-align: center;}
.galleryArea ul > li > h3 { margin-bottom: 48px;}
.galleryArea > ul > li > a { display:block; width: 100%; aspect-ratio: 525/325; border-radius: 20px; text-indent: -9999px; }
.galleryArea > ul > li:nth-child(1) a { background: url(../../public/images/main/Photo_Section_01.png) no-repeat center / cover;}
.galleryArea > ul > li:nth-child(2) a{ background: url(../../public/images/main/magazine.png.jpg) no-repeat center / cover;}
.galleryArea > ul > li:nth-child(3) { grid-column: 1/3;}
.galleryArea > ul > li:nth-child(3) > iframe { width: 100%; aspect-ratio: 1080 / 591; border-radius: 20px;}


/* Academy  */
.academyArea { background: url(../../public/images/main/academy.BackGround_Img.png) no-repeat center / auto;}
.academyArea > div { margin-bottom: 150px; position: relative;}
.academyArea > div > h2 { line-height: 60px; display: inline;}
.academyArea > div > h2::after { content: ""; display: inline-block; width: 52.31%; height: 18px; margin-inline: 4.63%; border-top: 1px solid var(--color--white);}
.academyArea > div > p { font-size: 18px; font-weight: 200; line-height: 30px; top: 70px; right: 0; position: absolute; text-align: right; color: var(--color--white);}
.academyArea > div > a { font-size: 20px; width: 44.44%; line-height: 78px; text-indent: 80px; display: block; margin-left: auto; position: relative; box-sizing: border-box; border-radius: 10px; border: 1px solid var(--color--white);}
.academyArea > div > a:hover { background-color: var(--color--blue); border: 1px solid var(--color--blue);}
.academyArea > div > a:nth-of-type(1) { margin-top: 200px; margin-bottom: 25px;}


/* Event */
.eventArea {margin-bottom: 150px;}
.eventArea > h2 { margin-bottom: 50px; }
.eventArea > ul { width: 100%; padding-inline: 50px; display: grid; grid-template-columns: 44.44% 44.44%; grid-auto-rows: 330px 130px 70px 260px 200px; gap: 0px 4.85%;}
.eventArea > ul > li { border-radius: 20px; background-color: var(--color--blodGray);}
.eventArea > ul > li:nth-of-type(1) { grid-column: 2/3; grid-row: 1/3;}
.eventArea > ul > li:nth-of-type(2) { grid-column: 1/2; grid-row: 2/5;}
.eventArea > ul > li:nth-of-type(3) { grid-column: 2/3; grid-row: 4/6;}
.eventArea > ul > li > a { width: 100%; height: 100%; padding-top: 68px; padding-bottom: 50px; text-indent: 35px; display: flex; flex-direction: column; justify-content: space-between; box-sizing: border-box;}
.eventArea > ul > li:nth-of-type(1) > a { background: url(../../public/images/main/event_01.png) no-repeat center / contain;}
.eventArea > ul > li:nth-of-type(2) > a { background: url(../../public/images/main/event_02.png) no-repeat center / contain;}
.eventArea > ul > li:nth-of-type(3) > a { background: url(../../public/images/main/event_03.png) no-repeat center / contain;}
.eventArea > ul > li > a > strong { font-size: 24px; font-weight: 500; color: var(--color--blue);}
.eventArea > ul > li > a > p { width: 100%; font-size: 18px; font-weight: 300; position: relative; color: var(--color--white);}


/* Youth */
.youthArea { padding-top: 300px; padding-bottom: 148px; background: url(../../public/images/main/iufcYouthBackGround_img.png) no-repeat bottom /cover; text-align: center;}
.youthArea h2::before { content: ""; display: block; width: 100%; height: 36px; margin-bottom: 50px; background: url(../../public/images/main/iufcYouth_img.png) no-repeat center / auto;}
.youthArea > h2 { margin-bottom: 92px;}
.youthArea > p { font-size: 18px; line-height: 30px; margin-bottom: 44px;}
.youthArea > a { font-size: 20px; max-width: 480px; line-height: 80px; border-radius: 15px; display: block; position: relative; background-color: #4040408f; margin-inline: auto;}


/* Sponsor */
.sponsorArea { padding-block: 150px; color: var(--color--white); text-align: center;}
.sponsorArea > * { margin-inline: auto;}
.sponsorArea a { display: block;}
.sponsorArea > a:nth-of-type(1) { max-width: 168px; border: 1px solid var(--color--white); padding-inline: 44px; padding-block: 17px; border-radius: 100px; font-size: 18px; font-weight: 500; box-sizing: border-box; margin-bottom: 48px;}
.sponsorArea > h2 { margin-bottom: 103px;}
.sponsorArea > ul { display: flex; max-width: 1290px; display: flex; align-items: center; justify-content: space-between; gap: 10.39%; margin-bottom: 100px;}
.sponsorArea > ul > li { height: 58px; width: 20.93%; text-indent: -9999px;}
.sponsorArea > ul > li:nth-child(1) { background: url(../../public/images/main/logo_sponsor_1.png) no-repeat center / contain;}
.sponsorArea > ul > li:nth-child(2) { background: url(../../public/images/main/logo_sponsor_2.png) no-repeat center / contain;}
.sponsorArea > ul > li:nth-child(3) { background: url(../../public/images/main/logo_sponsor_3.png) no-repeat center / contain;}
.sponsorArea > ul > li:nth-child(4) { background: url(../../public/images/main/logo_sponsor_4.png) no-repeat center / contain;}
.sponsorArea > a:not(:nth-of-type(1)) { box-sizing: border-box; border: 1px solid var(--color--white); max-width: 480px; line-height: 67px; border-radius: 5px;}
.sponsorArea > a:nth-of-type(2) { margin-bottom: 25px;}
.sponsorArea > a:hover:not(:nth-of-type(1)) { background-color: var(--color--blue); border: 1px solid var(--color--blue);}


/* Sub page start ! */

.clubPage > .banner {background-image: url(../../public/images/club/subBanner_01.png);}
.playerPage > .banner {background-image: url(../../public/images/player/player_Banner.png);}

/* sub Page LayOut*/
/* Banner */

.banner{ width:100%; height:950px; margin-bottom:150px; display:flex; align-items:flex-end; background-repeat: no-repeat; background-position: center; background-size: cover;}
.banner > ul { font-size:18px; color:#666666; position:relative; display:flex; flex-grow:1; justify-content:flex-start; gap:50px;}
.banner > ul > li{ cursor:pointer; z-index:1; font-weight: 500;}
.banner > ul > li > a {line-height: 84px;}
.banner > ul > li > a.active{color: var(--color--white);}
.banner > ul > li:nth-of-type(1):after{content:''; width:100%; height :3px; bottom:0; display:block; background-color:var(--color--white); position:absolute;}
.banner > ul > li:nth-of-type(1):before{ animation: dynamicWidth; animation-duration: 1s; animation-fill-mode: forwards;  z-index: 1; content:''; height :3px; bottom:0; display:block; background-color:var(--color--blue); position:absolute;}
.banner + div h2{ font-size:60px; line-height:75px; margin-bottom:148px; }
.banner + div > div{ display:flex; justify-content:space-between;}
.banner + div > div > aside{width: 16.64% ; font-size:16px; display:flex; flex-direction:column; justify-content:flex-start; gap: 30px; color:var(--color--gray);}
.banner + div > div > aside > button{ text-align: left; line-height: 36px; font-weight: 500; width: 100%;}
.banner + div > div > aside > button > a{width: 100%; height: 100%; display: block;}
.banner + div > div > aside > button > a.active{color: var(--color--white);}
.banner + div > div > aside + *{width: 83.22%; margin-bottom: 150px;}
@keyframes dynamicWidth{
    0%{width: 0px;}
    100%{width: var(--ani--width);}
}

/* Club */

/* Introduction */

.introductionArea{display: block;};

/* Vision */

.mark-bg-blue{position: relative; border-bottom: 20px solid var(--color--blue); display: block;}
.mark-bg-blue::before{ height: 20px; width:80%; background-color:var(--color--blue); top:50%; left:0; z-index:0; display:block; content:''; position: absolute; z-index: -1;}
.visionArea { color: var(--color--white);}
.visionArea > *:not(:last-child, h3){ margin-bottom: 150px;}
.visionArea > img{  display:block; width:100%;}
.visionArea  h3 { font-size: 34px; font-weight: 600;}
.visionArea > h3{ margin-bottom: 70px;}
.visionArea > ol { display:flex; justify-content:space-between; width:100%; gap:2.08%; counter-reset: listNumber;}
.visionArea > ol > li{ width:31.67%; aspect-ratio:1/1; padding-top:35px; border-radius:20px; counter-increment: listNumber; background-color:var(--color--blodGray); display:flex; flex-direction:columns; align-items:flex-start; justify-content:center; flex-wrap:wrap; }
.visionArea > ol > li > p { width:100%; font-size:18px; line-height:30px; text-align:center; padding-bottom:28px; border-bottom:solid 1px var(--color--gray);}
.visionArea > ol > li > p::before{ content: '0'counter(listNumber); display: block;}
.visionArea > ol > li > div{ display:flex; align-items:center; justify-content:center;}
.visionArea > div:nth-of-type(1){ width:100%; display:flex; align-items:center; justify-content:space-between;}
.visionArea > div:nth-of-type(1) > img { width: 50%;}
.visionArea > div:nth-of-type(1) > div { width:44%; font-size:34px;  display:flex; flex-direction:column; justify-content:center; font-weight:600; }
.visionArea > div:nth-of-type(1) > div > p {line-height: 45px; position: relative; z-index:0;} 
.visionArea > div:nth-of-type(1) > div > p:nth-child(1){margin-bottom: 50px;}
.visionArea > div:nth-of-type(2) {width: 100%;}
.visionArea > div:not(:nth-of-type(1)) > h3 { margin-bottom: 40px;position: relative; z-index: 1;}
.visionArea > div:not(:nth-of-type(1)) > p {color: var(--color--blue); margin-bottom: 70px;}
.visionArea > div:not(:nth-of-type(1)) > p::before { width: 14px; height:14px; margin-right:2px; display:inline-block; background-color:var(--color--blue);  content:''; border-radius:100%;}
.visionArea > div:not(:nth-of-type(1)) > ol {counter-reset: listNumber; width:100%; border-top:2px solid var(--color--gray); border-bottom:2px solid  var(--color--gray);}
.visionArea > div:not(:nth-of-type(1)) > ol > li {width: 100%; height:107px; gap:15.42%; counter-increment: listNumber; display:flex; align-items:center;}
.visionArea > div:not(:nth-of-type(1)) > ol > li:not(:last-of-type){border-bottom: solid 1px var(--color--gray);}
.visionArea > div:not(:nth-of-type(1)) > ol > li > div{width:33%; display:flex; align-items:center;}
.visionArea > div:not(:nth-of-type(1)) > ol > li > div::before{content:'0'counter(listNumber); font-size:34px;  margin-right:8px; color:var(--color--gray); font-weight:900;}
.visionArea > div:not(:nth-of-type(1)) > ol > li > div > mark {margin-right: 14px; line-height: 40px;}
.visionArea > div:not(:nth-of-type(1)) > ol > li > div > strong {font-size: 20px; color: var(--color--blue);}
.visionArea > div:not(:nth-of-type(1)) > ol > li > p { font-weight:300; line-height:25px; position:relative;}
.visionArea > div:not(:nth-of-type(1)) > ol > li > p::before{top:0; left:-7px; position:absolute; content:'-';}
.visionArea > div:not(:nth-of-type(1)) > ol > li > p > b{font-weight:600;}

/* Organization */


.organizationArea > mark.bg-color-blue {  line-height:33px; margin-bottom:35px;}
.organizationArea > h3 { font-size:34px; margin-bottom:50px;}
.organizationArea > ul { font-size: 20px; width:100%; gap:25px; margin-bottom:145px; display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap;}
.organizationArea > ul > li{flex-grow: 1;   padding-inline: 35px; padding-block: 33px; border-radius:30px; border:1px solid var(--color--white); align-items: center;display:flex;background: rgb(13,14,15);background: radial-gradient(circle, rgba(13,14,15,1) 48%, rgba(26,29,30,1) 77%);}
.organizationArea > ul > li > strong { margin-right:60px; color:var(--color--blue);}
.organizationArea > ul > li > p { line-height:25px; }
.organizationArea > ul > li:last-of-type{align-items: flex-start;}
.organizationArea > p { width: 100%; font-size:18px; font-weight:300; line-height:25px;}
.organizationArea > p span{padding-top: 50px;  display: block;  color: var(--color--gray);}
.organizationArea > p:nth-of-type(1){margin-bottom: 70px;}
 

/* Emblem */

.emblemArea {color: var(--color--white);}
.emblemArea  {width: 100%;}
.emblemArea > figure{ width:100%; display:flex; justify-content:space-between; align-items:flex-start; flex-wrap: wrap }
.emblemArea > figure > figcaption {width: 47.25%}
.emblemArea > figure > figcaption > mark.bg-color-blue {  padding-block:7.5px; margin-bottom:36px;}
.emblemArea > figure > figcaption > h3 { font-size:34px; font-weight:600; margin-bottom:50px;}
.emblemArea > figure > figcaption > p { font-size:18px;  font-weight:400;  line-height:33px;  margin-bottom:50px;}
.emblemArea > figure > figcaption > p > span{ display: block; margin-bottom: 28px;}
.emblemArea > figure > figcaption > div { width: 100%;display: flex; gap: 20px;}
.emblemArea > figure:not(:last-of-type){margin-bottom: 150px;}
.emblemArea > figure > img{width: 47.25% ;}
.emblemArea button { padding-inline:20px 50px; line-height:54px; font-size:18px; box-sizing:border-box; border:1px solid white; border-radius:10px; position:relative; cursor: pointer;}
.emblemArea button::after {width:18px; height:16px; right: 2.5%; top:50%; transform:translate(-50% , -50%); background-image:url('../../public/images/club/downloadicon01.png'); content:''; position:absolute; display:inline;}


/* History */

.historyArea  > h2 { font-size: 70px; font-weight: 600; margin-bottom: 70px;}
.historyArea  > h2 > span { color: var(--color--blue);}
.historyArea > img {display: block;}
.historyArea  > ol{ width: 100%; position: relative;}
.historyArea  > ol::after {content: ''; height: 100%; width: 1px; background-color: var(--color--gray); position: absolute; display: block; top: 0; left: 225px;}
.historyArea  > ol > li{padding-top: 70px; width: 100%; display: flex; justify-content: flex-start; align-items:flex-start ;}
.historyArea  > ol > li > span { width: 15.60%; margin-right: 150px; font-size: 70px; font-weight: 600; position: relative;}
.historyArea  > ol > li > span::after{content: ''; display: block; width: 10px; height: 10px; background-color: var(--color--blue); position: absolute; border-radius: 100%; left: 225px; z-index: 1; top:50%; transform: translate(-50%,-50%); }
.historyArea  > ol > li > ul { font-size: 18px; line-height:25px;}
.historyArea  > ol > li > ul > * {display: block;}
.historyArea  > ol > li > ul > strong {font-size: 34px ; margin-bottom: 50px;padding-top: 25px;}
.historyArea  > ol > li > ul > li:not(:last-of-type){margin-bottom: 35px}


/* Greeting */

.greetingArea > h2 {margin-bottom: 150px; font-size: 60px; }
.greetingArea > ul {width: 100%; margin-bottom: 300px; display: flex; justify-content: space-between; flex-wrap: wrap; }
.greetingArea > ul > li {width: 46.32%; height: 484px; align-items: flex-start; justify-content: space-between; display: flex; flex-direction: column; background-repeat: no-repeat; background-position: right 0 bottom 0; background-size:auto}
.greetingArea > ul > li:nth-of-type(1) {background-image: url('../../public/images/club/bg_club_greeting_owner.png');}
.greetingArea > ul > li:nth-of-type(2) {background-image: url('../../public/images/club/bg_club_greeting_ceo.png');}
.greetingArea > ul > li > p{font-size: 34px; line-height: 40px; font-weight: 600;} 
.greetingArea > ul > li > p > span{font-size: 24px; margin-bottom: 32px; display: block;  color: var(--color--gray); font-weight: 600;}
.greetingArea > ul > li > button { line-height: 56px; font-size: 18px ; padding-inline: 45px ; box-sizing: border-box; border: 1px solid var(--color--white); border-radius: 5px;cursor: pointer; color: #bbbbbb;}
.greetingArea > ul > li > button::after{width:21px; height: 11px; margin-left: 15px; content: ''; display: inline-block; background: url('../../public/images/club/arrow-1.png') no-repeat center / cover; }
.greetingArea > ul > li > button.active::after{background-image: url('../../public/images/club/arrow.png');}
.greetingArea > div {margin-bottom: 150px;}
.greetingArea > div.active{display: none;}
.greetingArea > div > h3 {font-size: 60px; line-height: 75px; margin-bottom: 145px;}
.greetingArea > div > div {margin-bottom: 135px; display: flex; align-items: flex-start;width: 100%;}
.greetingArea > div > div > img { width: 45%;}
.greetingArea > div > div > div {width: 45%;}
.greetingArea > div > div > div > span{font-size: 24px; margin-bottom: 33px; color: var(--color--blue); display: block; font-weight: 600;}
.greetingArea > div > div > div > p:nth-of-type(1){ color: var(--color--gray); font-size: 34px; font-weight: 600; display: block; margin-bottom: 140px;}
.greetingArea > div > div > div > p > span{ color: var(--color--white);}
.greetingArea > div > div > div > strong {font-size: 24px; margin-bottom: 25px; font-weight: 400; display: block; }
.greetingArea > div > div > div > p:not(:first-of-type){line-height:25px;}
.greetingArea > div > div > div > p:not(:first-of-type,:last-of-type){margin-bottom: 25px;}
.greetingArea > div > p {line-height: 25px; text-align: center;}
.greetingArea > div > p:not(:last-of-type){margin-bottom: 25px;}


/* stadiumArea */
.stadiumArea > h3{font-size: 24px; color: var(--color--blue); margin-bottom: 30px;}
.stadiumArea  p {font-size: 18px; line-height: 25px; margin-bottom: 70px;}
.stadiumArea > img {display: block;margin-bottom: 70px; width: 100%;}
.stadiumArea > ul {display: flex; width: 100%; justify-content: space-between;}
.stadiumArea > ul > li {width: 31.67%;}
.stadiumArea > ul > li > strong{font-size: 24px; font-weight: 600; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid var(--color--gray); display: block; }
.stadiumArea > ul > li > strong::before{content: ''; display: inline-block; width: 34px; height: 30px; background-repeat: no-repeat; background-position: center; background-size: auto; margin-right: 15px; }
.stadiumArea > ul > li:nth-of-type(1) > strong::before{background-image: url('../../public/images/club/stadium-icon-02.png');}
.stadiumArea > ul > li:nth-of-type(2) > strong::before{background-image: url('../../public/images/club/stadium-icon-01.png');}
.stadiumArea > ul > li:nth-of-type(3) > strong::before{background-image: url('../../public/images/club/stadium-icon-03.png');}
.stadiumArea > a { padding-left: 50px; font-size: 18px; width: 75%; height: 165px; box-sizing: border-box; border: 1px solid var(--color--gray); margin-left: auto;  display: flex;align-items: center; cursor: pointer; position: relative;}
.stadiumArea > a > span{display: flex; align-items: center;}
.stadiumArea > a > span::before{height: 35px; width: 23px; content:url('../../public/images/club/map-btn-01.png'); display: inline-block; margin-right: 15px;}
.stadiumArea > a > span::after{content: url('../../public/images/club/kakaomap.png'); display: inline-block; position: absolute; right: 50px;}


/* parkingArea */

.parkingArea  h3{font-size: 24px; margin-bottom: 30px;}
.parkingArea > h3:nth-of-type(1) { color: var(--color--blue);}
.parkingArea > p {font-size: 18px; line-height: 25px; margin-bottom: 70px;}
.parkingArea > img{display: block; width: 100%;}
.parkingArea > ul:nth-of-type(1) { gap: 2%; width: 100%; margin-bottom: 150px; flex-wrap: wrap; display: flex; justify-content: flex-start; align-items: center;}
.parkingArea > ul:nth-of-type(1) > li{width: 31.67%; font-weight: 600;}
.parkingArea > ul:nth-of-type(1) > li > p::before{width: 100%; padding-top: 68px; padding-bottom:34px; margin-bottom: 30px; display: block; border-bottom: 1px solid var(--color--gray);}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(1){color: #b94a15;}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(2){color: #d18302;}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(3){color: #544fa3;}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(4){color: #cb3117; font-weight: 400;}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(5){color: #2d2792;}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(1) > p::before{content: url('../../public/images/club/parking_icon_01.jpg');}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(2) > p::before{content: url('../../public/images/club/parking_icon_02.jpg');}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(3) > p::before{content: url('../../public/images/club/parking_icon_03.jpg');}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(4) > p::before{content: url('../../public/images/club/parking_icon_04.jpg');}
.parkingArea > ul:nth-of-type(1) > li:nth-of-type(5) > p::before{content: url('../../public/images/club/parking_icon_05.jpg');}
.parkingArea > ul:nth-of-type(2) {display: flex; width: 100%;align-items: flex-start; justify-content: space-between; margin-bottom: 150px; }
.parkingArea > ul:nth-of-type(2) > li{ width: 31.67% ;}
.parkingArea > ul:nth-of-type(2) > li > img {display: block; width: 100%; margin-bottom: 35px; }
.parkingArea > ul:nth-of-type(2) > li > strong { width: 100%;font-size: 24px; font-weight: 600; height: 45px; margin-bottom: 34px; gap: 14px; display: flex; align-items: center;}
.parkingArea > ul:nth-of-type(2) > li > strong::before{ width: 45px;height: 45px;}
.parkingArea > ul:nth-of-type(2) > li:nth-of-type(1) > strong{color: #544fa3;}
.parkingArea > ul:nth-of-type(2) > li:nth-of-type(2) > strong{color: #d55518;}
.parkingArea > ul:nth-of-type(2) > li:nth-of-type(3) > strong{color: #d55518;}
.parkingArea > ul:nth-of-type(2) > li:nth-of-type(1) > strong::before {display: inline-block; content: url('../../public/images/club/parking_icon_06.jpg');}
.parkingArea > ul:nth-of-type(2) > li:nth-of-type(2) > strong::before {display: inline-block; content: url('../../public/images/club/parking_icon_07.jpg');}
.parkingArea > ul:nth-of-type(2) > li:nth-of-type(3) > strong::before {display: inline-block; content: url('../../public/images/club/parking_icon_08.jpg');}
.parkingArea > ul:nth-of-type(2) > li > p{line-height: 25px;font-size: 16px; font-weight: 400;}
.parkingArea > div { font-size: 18px; display: flex; align-items: center; justify-content: space-between; padding-inline: 50px; padding-block: 30px; border: 1px solid var(--color--gray); box-sizing: border-box;}
.parkingArea > div > ul > li{display: flex;}
.parkingArea > div > ul > li:not(:last-of-type){margin-bottom: 20px;}
.parkingArea > div > ul > li::before{content:url('../../public/images/club/parking_bus.png'); display: inline-block; margin-right: 15px;}
.parkingArea > div > ul > li:nth-last-of-type():before{content:url('../../public/images/club/parking_train.png');}
.parkingArea > div > div {display: flex; gap: 50px; text-align: center;}
.parkingArea > div > div > span > img{margin-bottom: 20px;}
.parkingArea > div > div > span > p{line-height: 25px; font: 400;}
.parkingArea > div > div > span > p > span{color: var(--color--gray);}


/* seatArea */

.seatArea > img{display: block; width: 100%; margin-bottom: 150px;}
.seatArea > ul{width: 100%; display: flex; flex-wrap: wrap; align-items: center;justify-content: flex-start; gap: 20px;}
.seatArea > ul > li{font-size: 22px; width: 23.75%; padding-bottom: 55px; font-weight: 300;}
.seatArea > ul > li > p::before{content: ''; display: block; width: 50px; height: 50px; margin-bottom: 25px;}
.seatArea > ul > li:nth-of-type(1) > p::before{background-color: #f7de77;}
.seatArea > ul > li:nth-of-type(2) > p::before{background-color: #f3981b;}
.seatArea > ul > li:nth-of-type(3) > p::before{background-color: #74bd55;}
.seatArea > ul > li:nth-of-type(4) > p::before{background-color: #009944;}
.seatArea > ul > li:nth-of-type(5) > p::before{background-color: #d84533;}
.seatArea > ul > li:nth-of-type(6) > p::before{background-color: #e5600f;}
.seatArea > ul > li:nth-of-type(7) > p::before{background-color: #ef8787;}
.seatArea > ul > li:nth-of-type(8) > p::before{background-color: #727171;}
.seatArea > ul > li:nth-of-type(9) > p::before{background-color: #f5b62f;}
.seatArea > ul > li:nth-of-type(10) > p::before{background-color: #e84091;}
.seatArea > ul > li:nth-of-type(11) > p::before{background-color: #74298b;}
.seatArea > ul > li:nth-of-type(12) > p::before{background-color: #009491;}
.seatArea > ul > li:nth-of-type(13) > p::before{background-color: #7dcef4;}
.seatArea > ul > li:nth-of-type(14) > p::before{background-color: #5a3c35;}


/* player */

/* CoachingStaff */
.coachingStaffArea {padding-top: 150px;}
.coachingStaffArea > h2 {height: 0.1px; text-indent: -9999px;} 
.coachingStaffArea > div { width: 100%; gap: 10%; display: flex;align-items: flex-start; padding-inline: 50px; margin-bottom: 150px; flex-wrap: wrap;}
.coachingStaffArea > div > * {width: 41.61%;}
.coachingStaffArea > div > div { font-size: 24px;}
.coachingStaffArea > div > div > button {width: 50%; height: 62px; cursor: pointer; box-sizing: border-box; border: 1px solid var(--color--gray);}
.coachingStaffArea > div > div > button.active{background-color: var(--color--gray);}
.coachingStaffArea > div .coachProfile,.coachBriefHistory {padding-top: 150px;}
.coachingStaffArea > div  .coachProfile > span {margin-bottom: 25px; color: var(--color--blue); display: block;}
.coachingStaffArea > div  .coachProfile > strong{line-height: 35px; display: block; margin-bottom: 35px;}
.coachingStaffArea > div  .coachProfile > strong > span{ color: var(--color--gray);}
.coachingStaffArea > div  .coachProfile > ul > li{font-size: 18px; line-height: 75px;display: flex; font-weight: 400;}
.coachingStaffArea > div  .coachProfile > ul > li > span{width: 90px; margin-right: 50px; color: var(--color--gray);}
.coachingStaffArea > div  .coachBriefHistory > strong {font-size: 34px; line-height: 45px; margin-bottom: 70px; display: block;} 
.coachingStaffArea > div  .coachBriefHistory > ul {font-size: 18px; line-height: 40px; font-weight: 400; }
.coachingStaffArea > div  .coachBriefHistory > ul > li {display: flex; gap: 30px; }
.coachingStaffArea > div  .coachBriefHistory > ul > li > span {width:90px; color: var(--color--gray);}
.coachingStaffArea > div  .coachBriefHistory > ul > li > div > p > span {width: 170px; display: inline-block;}

.coachingStaffArea > h3 {font-size: 24px; margin-bottom: 70px;}
.coachingStaffArea > ul {width: 100%; justify-content: space-evenly; display: flex;  flex-wrap: wrap;  align-items: center; margin-bottom: 50px;}
.coachingStaffArea > ul > li {flex-direction: column; padding-block: 75px; flex-basis: 480px; box-sizing: border-box; flex-grow: 0;display: flex; align-items: center; justify-content: center; text-align: center; position: relative;}
.coachingStaffArea > ul > li:hover > img {filter: blur(5px); -webkit-filter: blur(5px);}
.coachingStaffArea > ul > li:hover > button {display: block; cursor: pointer;}
.coachingStaffArea > ul > li > button {font-size: 18px; width: 185px; line-height: 65px; border: 1px solid var(--color--white); position: absolute;border-radius: 10px; display: none;}
.coachingStaffArea > ul > li > p {font-size: 34px; line-height: 45px; font-weight: 600; bottom: 5%; position: absolute;  }
.coachingStaffArea > ul > li > p > span {color: var(--color--gray);}
.coachingStaffArea > ul > div {display: flex; position: absolute}
.coachingStaffArea > ul > .popup-OverLay { position: fixed; top: 0;  left: 0; width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.904); display: none; justify-content: center; align-items: center; z-index: 9999;}
.coachingStaffArea > ul > .popup-OverLay.active{display: flex;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content {gap: 10%; padding-top: 100px; box-sizing: border-box;  padding-inline: 10%; display: flex; width: 75%; background: url(../../public/images/player/bg_coach_profile.png) no-repeat left 5% top 10% / auto;  background-color: var(--color--black); position: relative;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > button {  top: 40px; right: 40px; width: 65px; height: 65px; border: 1px solid var(--color--gray); border-radius: 100%; text-indent: -9999px; font-size: 0.1px; position: absolute; display: inline-block; background: url(../../public/images/player/closeBtn.png) no-repeat center / auto; cursor: pointer; }
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > img {width: 40%;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div {width: 50%;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div > div {width: 100%; margin-bottom: 140px;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div > p {font-size: 34px; font-weight: 600;  margin-bottom: 60px;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div > p > span {margin-left: 20px; color: var(--color--gray);}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div > ul > li { font-size: 18px; font-weight: 500; display: flex; align-items: flex-start; justify-content: flex-start; line-height: 40px;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div > ul > li > span {color: var(--color--gray); width: 100px; display: inline-block; margin-right: 50px;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div > ul > li > div {display: flex; justify-content: space-between;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div > ul > li > div > p:nth-of-type(1){margin-right: 30px;}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div > div > button {font-size: 24px; font-weight: 600; width: 50%; line-height: 60px; cursor: pointer; border: 1px solid var(--color--gray);}
.coachingStaffArea > ul > .popup-OverLay > .popup-Content > div > div > button.active {background-color: var(--color--gray);}


/* ProArea */
.proArea > h2 {font-size: 0.1px; text-indent: -9999px;}
.proArea > div { width: 100%; gap: 50px ; margin-bottom: 150px; display: flex; justify-content: flex-start; align-items: center; }
.proArea > div > button {font-size: 18px; cursor: pointer; font-weight: 400; }
.proArea > div > button.active {color: var(--color--blue);}
.proArea > ul {width: 100%;}
.proArea > ul > li { width: 100%;}
.proArea > ul > li > p {font-size:24px; font-weight: 600; margin-bottom: 70px; letter-spacing: 3px;}
.proArea > ul > li > ul { width: 100%; gap: 5%; flex-wrap: wrap; display: flex; align-items: center; }
.proArea > ul > li > ul > li { padding-inline: 10px; min-width: 350px; width: 30%; padding-bottom: 150px;  box-sizing: border-box; position: relative;}
.proArea > ul > li > ul > li > img { width: 100%;}
.proArea > ul > li > ul > li > div {padding-top: 40px; width: 100%; gap: 30px; color: var(--color--gray); display: flex; align-items: center; justify-content: flex-start;}
.proArea > ul > li > ul > li > div > span{font-size: 100px; font-weight: 900;}
.proArea > ul > li > ul > li > div > p {font-size: 28px; font-weight: 600; line-height: 40px;}
.proArea > ul > li > ul > li > div > p > span {color: var(--color--white);}
.proArea > ul > li > ul > li > button {font-size: 18px; width: 185px; line-height: 65px; border: 1px solid var(--color--white); position: absolute;border-radius: 10px; transform: translate(-50% , -50%); left: 50%; top: 35%; display: none;}
.proArea > ul > li > ul > li:hover > img {filter: blur(5px); -webkit-filter: blur(5px);}
.proArea > ul > li > ul > li:hover > button {display: block; cursor: pointer;}
.proArea > ul > li > ul > li > span > img {display: block; width: 100%;}
.proArea > ul > li > ul > li > p {width: 100%; top: 10%; left: 10%; font-size: 28px; position: absolute; font-weight: 600; }
.proArea > ul > li > ul > li > p > span { padding-left: 10px; color: var(--color--gray);}


.proArea .popup-Overlay{ left: 0; position: absolute ; width: 100vw; height: 100vh; overflow-y: auto;  background-color:var(--color--black); color: var(--color--white); z-index: 9999;}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) { width: 100%; padding-top:100px; margin: 0 auto; justify-content: space-between; align-items: center; display: flex; color: var(--color--white); margin-bottom: 150px; position: relative; }
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > button {top: 100px; right: 100px; width: 65px; height: 65px; border: 1px solid var(--color--gray); border-radius: 100%; text-indent: -9999px; font-size: 0.1px; position: absolute; display: inline-block; background: url(../../public/images/player/closeBtn.png) no-repeat center / auto; cursor: pointer; }
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > img { width: 45%; aspect-ratio: 700/800; max-height: 800px;}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div { width: 45%;}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > p {display: flex; align-items: center; margin-bottom: 100px;}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > p > span {margin-right: 15px; font-size: 100px; font-weight: 900; color: var(--color--gray);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > p > b {font-size: 28px; font-weight: 600; line-height: 40px;}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > p > b > span {color:var(--color--gray);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(1) { width: 100%; display: flex; padding-left: 90px; gap: 85px; margin-bottom: 70px;}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul > li{font-size: 18px; color: var(--color--gray); font-weight: 600; position: relative;}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul > li > strong {line-height: 120px; display: block; font-size: 100px; color: var(--color--white); }
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(1) > li::before{margin-right: 10px ; position: absolute; left: -40px; top: 0; }
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(1) > li:nth-of-type(1)::before{content: url(../../public/images/player/pro_popup_icon_001.jpg);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(1) > li:nth-of-type(2)::before{content: url(../../public/images/player/pro_popup_icon_002.jpg);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(1) > li:nth-of-type(3)::before{content: url(../../public/images/player/pro_popup_icon_003.jpg);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(2) > li {height: 50px; margin-bottom: 25px; display: flex; align-items: center; color: var(--color--white); width: 100%;}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(2) > li > span { width: 125px;  font-size: 18px; font-weight: 500; color: var(--color--gray);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(2) > li::before{margin-right: 25px; display: block; width: 50px ; height: 50px; border-radius: 5px; }
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(2) > li:nth-of-type(1)::before{content: url(../../public/images/player/pro_popup_icon2_01.jpg);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(2) > li:nth-of-type(2)::before{content: url(../../public/images/player/pro_popup_icon2_02.jpg);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(2) > li:nth-of-type(3)::before{content: url(../../public/images/player/pro_popup_icon2_03.jpg);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(1) > div > ul:nth-of-type(2) > li:nth-of-type(4)::before{content: url(../../public/images/player/pro_popup_icon2_04.jpg);}
.proArea .popup-Overlay > .popup-contents > p {font-size: 24px ; font-weight: 600; margin-bottom: 45px;}
.proArea .popup-Overlay > .popup-contents > table {padding-top: 45px; padding-bottom: 30px;  margin-bottom: 150px; width: 100%; background-color: var(--color--blodGray); border-radius: 20px; text-align: center;}
.proArea .popup-Overlay > .popup-contents > table > thead > tr > th {padding-block: 40px; color: var(--color--gray);}
.proArea .popup-Overlay > .popup-contents > table:nth-of-type(1) > thead > tr > th {font-size: 22px;}
.proArea .popup-Overlay > .popup-contents > table:nth-of-type(1) > tbody > tr > td {font-size: 50px; font-weight: 600; padding-bottom: 40px; color: var(--color--blue);}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(2){ margin-bottom: 45px; display: flex; width: 100%;}
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(2) > p{ font-size: 24px; font-weight: 600; }
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(2) > div {margin-left: auto; font-size: 18px; gap: 40px; display: flex; }
.proArea .popup-Overlay > .popup-contents > div:nth-of-type(2) > div > button.active{color: var(--color--blue);}
.proArea .popup-Overlay > .popup-contents > table:nth-of-type(2) {height: 2220px;}


.scheduleArea > h2{font-size: 0.1px; text-indent: -9999px;}
.scheduleArea .calendar{width: 100%;}
.scheduleArea .calendar > .nav {text-align: center; position: relative; margin-bottom: 70px; display: flex; align-items: center; justify-content: center;}
.scheduleArea .calendar > .nav > div{gap: 35px; position: absolute; left: 0; display: flex; } 
.scheduleArea .calendar > .nav > div > span{display: flex; align-items: center;}
.scheduleArea .calendar > .nav > div > span:nth-of-type(1)::before{margin-right: 10px; content: url('../../public/images/player/square_gray.png'); width: 30px; height: 30px; display: inline-block;}
.scheduleArea .calendar > .nav > div > span:nth-of-type(2)::before{margin-right: 10px; content: url('../../public/images/player/square_blue.png'); width: 30px; height: 30px; display: inline-block;}
.scheduleArea .calendar > .nav > p {font-size: 34px; font-weight: 600; width: 300px; height: 35px; display: flex; align-items: center; justify-content: space-evenly;}
.scheduleArea .calendar > .nav > p > button {width: 18px; height: 35px; cursor: pointer;}
.scheduleArea .calendar > .nav > p > button:nth-of-type(1){background: url('../../public/images/player/prevbtn.png') no-repeat center / auto;}
.scheduleArea .calendar > .nav > p > button:nth-of-type(2){background: url('../../public/images/player/nextbtn.png') no-repeat center / auto;}
.scheduleArea .calendar > ul{width: 100%; display: grid; grid-template-columns: repeat(7,1fr); line-height: 80px; text-align: center; color: var(--color--gray)}
.scheduleArea .calendar > ul > li {border: 1px  solid var(--color--gray); border-top: 2px solid var(--color--gray) ;}
.scheduleArea .calendar > ol {margin-bottom: 70px; display: grid; grid-template-columns: repeat(7,1fr);}
.scheduleArea .calendar > ol > li{border: 1px  solid var(--color--gray); aspect-ratio: 1/1; position: relative;}
.scheduleArea .calendar > ol > li.active{border: 5px solid var(--color--blue); }
.scheduleArea .calendar > ol > li > span{ font-size: 14px; right: 15px; top: 15px; position: absolute; color: var(--color--gray); font-weight: 500;}
.scheduleArea .calendar > p{font-size: 18px; text-align: center; margin-bottom: 150px; font-weight: 400;}

