/* MainSlide */

.mainSlide-container { width: 100%; padding-top: 130px; margin-bottom: 330px; position: relative; 
  .slideList { width: 100%; } 
  .slick-prev:before, .slick-next:before { display: none; } 
  .slick-arrow { z-index: -1; left: 1%; } 
   button { bottom: -105px; width: 16px; height: 18px; position: absolute; background-size: cover; background-repeat: no-repeat; background-position: center; cursor: pointer; } 
  .btn-prev { right: 14.14%; background-image: url('../../public/images/main/bannerprev.png'); } 
  .btn-next { right: 12.12%; background-image: url('../../public/images/main/bannernext.png'); } 
  .slick-dots { width: 100%; bottom: -85px; text-align: center; height: 15px; 
    > li { position: relative; margin: 0; width: 50px; height: 3px; background-color: var(--color--white); 
      &.slick-active { background-color: #0061c6; } 
      > button { display: none; } 
      &:nth-of-type(1)::after { width: 15px; height: 15px; position: absolute; left: -35px; top: -5px; display: inline; content: '01'; color: white; } 
      &:nth-last-of-type(1)::after { width: 15px; height: 15px; right: -35px; top: -5px; display: inline; content: '03'; color: white; position: absolute; } 
    } 
  } 
  .slide-item > img { width: 100%; } 
  .slick-track::after { display: none; } 
}

/* League & Match  */

.matchArea { margin-bottom: 150px; color: var(--color--white); 
  > h2 { position: relative; display: flex; align-items: center; justify-content: center; margin-bottom: 70px; height: 50px; 
    > span { z-index: 0; padding-inline: 50px; background-color: var(--color--black); } 
    &::before { width: 100%; height: 1px; left: 0; top: 50%; transform: translate(0%, -50%); background-color: var(--color--white); content: ''; position: absolute; z-index: 0; } 
  } 
  > .leagueAndMatch { width: 100%; gap: 2.08%; display: flex; align-items: flex-start; justify-content: flex-start; position: relative; 
    > .league-table { box-sizing: border-box; width: 31.90%; aspect-ratio: 460/469; background-color: #282828; border-radius: 20px; border: 5px inset rgba(252, 252, 253, 0.719); padding-block: 50px; padding-inline: 40px; display: flex; align-items: center; 
      &:hover { animation: slideBound 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 backwards; } 
      > table { width: 100%; text-align: center; line-height: 45px; 
        > caption { font-size: 24px; font-weight: 600; text-align: left; margin-bottom: 30px; padding-left: 20px; } 
        > * > tr { color: var(--color--gray); font-size: 16px; font-weight: 500; } 
        > tbody {
          > tr{
            > *:nth-last-child(1) { color: var(--color--white); } 
            &:nth-last-of-type(1) { border: 3px solid var(--color--blue); } 
            &:nth-of-type(1) > td:nth-of-type(2)::before { content: url(../../public/images/main/leagueTable_jeju.icon.png); } 
            &:nth-of-type(2) > td:nth-of-type(2)::before { content: url(../../public/images/main/leagueTable_daejeon.icon.png); } 
            &:nth-of-type(3) > td:nth-of-type(2)::before { content: url(../../public/images/main/leagueTable_junbuk.icon.png); } 
            &:nth-of-type(4) > td:nth-of-type(2)::before { content: url(../../public/images/main/leagueTable_daegu.icon.png); } 
            &:nth-of-type(5) > td:nth-of-type(2)::before { content: url(../../public/images/main/leagueTable_incheon.icon.png); } 
             td:nth-of-type(2) { position: relative; width: 45px; text-align: right; 
              &::before { content: url(../../public/images/main/leagueTable_junbuk.icon.png); margin-right: 5px; position: absolute; transform: translate(-50%, -50%); left: 0%; top: 55%; } 
            } 
          } 
        }
      } 
    } 
  }
  .slide-container { max-width: 950px; width: 65.88%; display: flex;  overflow-x: scroll; scroll-behavior: smooth;
    .slide-track{width: 150%;  display: flex; transition-duration: 2s; gap: 3%; margin-bottom: 30px;
      .slide {flex-shrink: 0; flex-basis: 48.5%; aspect-ratio: 460/469; text-align: center; box-sizing: border-box; background-color: #282828; cursor: pointer; border-radius: 20px;}
      }
    }
    .slide-container::-webkit-scrollbar{height: 10px;}
    .slide-container::-webkit-scrollbar-track{background-color: #484848;border-radius: 5px;}
    .slide-container::-webkit-scrollbar-thumb{background-color:#8f8f8f ; border-radius: 5px; width: 50px;}
} 
  @keyframes slideBound{
    0% { -webkit-transform: translateY(0); transform: translateY(0);}
    25% { -webkit-transform: translateY(-50px); transform: translateY(-50px);}
    50% { -webkit-transform: translateY(0); transform: translateY(0);}
    75% { -webkit-transform: translateY(-50px); transform: translateY(-50px);}
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px);}
}


/* Market */

.marketArea { color: var(--color--white); margin-bottom: 148px; 
  h2 { margin-bottom: 50px; text-align: center; } 
  > a { max-width: 250px; font-size: 18px; line-height: 55px; padding-left: 40px; margin-inline: auto; margin-bottom: 70px; display: block; position: relative; box-sizing: border-box; border: 1px solid var(--color--white); border-radius: 30px; } 
  > ul { width: 100%; display: grid; gap: 30px; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2,1fr); 
    > li:hover { border: 5px solid var(--color--blue); } 
    > li { overflow: hidden; background-color: var(--color--blodGray); border: 5px solid var(--color--blodGray); border-radius: 30px; 
      > a { max-width: 455px; aspect-ratio: 455/377; display: flex; align-items: center; justify-content: flex-start; flex-direction: column; text-align: center; } 
      > a > p { width: 100%; line-height: 78px; font-size: 18px; background-color: var(--color--gray); } 
    } 
    > li:nth-child(3) { grid-column: 3/4; grid-row: 1/3; position: relative; display: flex; align-items: center; justify-content: center; 
      > a > p { bottom: 0; position: absolute; } 
    } 
  } 
}

/* Feed */

.feedArea { margin-bottom: 145px; color: var(--color--white); 
  > h2 { margin-bottom: 50px; } 
  > .tap-container { width: 62.69%; margin-bottom: 48px; display: flex; justify-content: flex-start; align-items: center; gap: 7.74%; 
    > .tap-item { font-size: 18px; font-weight: 400; cursor: pointer; 
      &.active { color: var(--color--blue); } 
    } 
  } 
  > .feedSlide-container { position: relative; 
    > button { width: 30px; height: 30px; background-position: center; background-repeat: no-repeat; border-radius: 100%; position: absolute; transform: translate(-50%, 400%); z-index: 9999; cursor: pointer; } 
    /* 커스텀 에로우 */
    > .btn-next { background: url(../../public/images/main/_.png) no-repeat center / cover; right: -20px; } 
    > .btn-prev { background: url(../../public/images/main/_-1.png) no-repeat center / cover; left: -10px; } 
    /* 기존 에로우 캔슬 */
    .slick-arrow, .slick-arrow::before { z-index: -9999; display: none; } 
    .slide-item > div { margin: 0; padding: 0; width: 338px; aspect-ratio: 338/380; border-radius: 20px; box-sizing: border-box; display: flex; flex-direction: column; 
      img { width: 100%; aspect-ratio: 338/250; margin-bottom: 26px; border-radius: 20px 20px 0 0; background-color: #161616; } 
      p { font-size: 18px; line-height: 25px; max-width: 340px; font-weight: 400; } 
      strong { margin-right: 5px; text-transform: capitalize; display: inline; color: #ffea00; } 
    } 
  } 
}

/* Gallery */

.galleryArea { 
  > h2 {  height: 1px;  text-indent: -9999px;} 
  > ul {  width: 100%;  margin-bottom: 145px;  display: grid;  grid-template-columns: 1fr 1fr;  grid-template-rows: 430px 675px;  grid-gap: 70px 2.78%;  text-align: center; 
    > li { 
      > h3 { margin-bottom: 48px; } 
      > a { display: block;  width: 100%;  aspect-ratio: 525/325;  border-radius: 20px;  text-indent: -9999px; } 
      &:nth-child(1) > a { background: url(../../public/images/main/Photo_Section_01.png) no-repeat center / cover;  } 
      &:nth-child(2) > a { background: url(../../public/images/main/magazine.png.jpg) no-repeat center / cover; } 
      &:nth-child(3) {  grid-column: 1/3; 
         > iframe {    width: 100%;    aspect-ratio: 1080 / 591;    border-radius: 20px;  } 
      } 
    } 
  } 
}


/* Academy  */

.academyArea { 
  background: url(../../public/images/main/academy.BackGround_Img.png) no-repeat center / auto;  
  > div { margin-bottom: 150px;  position: relative;  
    > h2 { line-height: 60px;  display: inline; 
        &::after { content: ""; display: inline-block; width: 52.31%; height: 18px; margin-inline: 4.63%; border-top: 1px solid var(--color--white);} 
      }     
    > p {  font-size: 18px;  font-weight: 200;  line-height: 30px;  top: 70px;  right: 0;  position: absolute;  text-align: right;  color: var(--color--white); }   
    > a {  font-size: 20px;  width: 44.44%;  line-height: 78px;  text-indent: 80px;  display: block;  margin-left: auto;  position: relative;  box-sizing: border-box;  border-radius: 10px;  border: 1px solid var(--color--white);  
       &:hover { background-color: var(--color--blue);  border: 1px solid var(--color--blue); } 
       &:nth-of-type(1) { margin-top: 200px; margin-bottom: 25px;} 
    } 
  } 
}

/* Event */

.eventArea { 
  margin-bottom: 150px; 
  > h2 { margin-bottom: 50px; } 
  > ul { width: 100%; padding-inline: 50px; display: grid; grid-template-columns: 44.44% 44.44%; grid-auto-rows: 330px 130px 70px 260px 200px; gap: 0px 4.85%; 
    > li { border-radius: 20px; background-color: var(--color--blodGray); 
      &:nth-of-type(1) { grid-column: 2/3; grid-row: 1/3; } 
      &:nth-of-type(2) { grid-column: 1/2; grid-row: 2/5; } 
      &:nth-of-type(3) { grid-column: 2/3; grid-row: 4/6; } 
      &:nth-of-type(1) > a { background: url(../../public/images/main/event_01.png) no-repeat center / contain; } 
      &:nth-of-type(2) > a { background: url(../../public/images/main/event_02.png) no-repeat center / contain; } 
      &:nth-of-type(3) > a { background: url(../../public/images/main/event_03.png) no-repeat center / contain; } 
      > a { width: 100%; height: 100%; padding-top: 68px; padding-bottom: 50px; text-indent: 35px; display: flex; flex-direction: column; justify-content: space-between; box-sizing: border-box; 
        > strong { font-size: 24px; font-weight: 500; color: var(--color--blue); } 
        > p { width: 100%; font-size: 18px; font-weight: 300; position: relative; color: var(--color--white); } 
      } 
      } 
  } 
}


/* Youth */

.youthArea { 
  padding-top: 300px; padding-bottom: 148px; background: url(../../public/images/main/iufcYouthBackGround_img.png) no-repeat bottom / cover; text-align: center; 
  h2::before { content: ""; display: block; width: 100%; height: 36px; margin-bottom: 50px; background: url(../../public/images/main/iufcYouth_img.png) no-repeat center / auto; } 
  > h2 { margin-bottom: 92px; } 
  > p { font-size: 18px; line-height: 30px; margin-bottom: 44px; } 
  > a { font-size: 20px; max-width: 480px; line-height: 80px; border-radius: 15px; display: block; position: relative; background-color: #4040408f; margin-inline: auto; } 
}

/* Sponsor */

.sponsorArea { 
  padding-block: 150px; color: var(--color--white); text-align: center; 
  > * { margin-inline: auto; } 
  a { display: block; 
    &:nth-of-type(1) { max-width: 168px; border: 1px solid var(--color--white); padding-inline: 44px; padding-block: 17px; border-radius: 100px; font-size: 18px; font-weight: 500; box-sizing: border-box; margin-bottom: 48px; } 
    &:not(:nth-of-type(1)) { box-sizing: border-box; border: 1px solid var(--color--white); max-width: 480px; line-height: 67px; border-radius: 5px; } 
    &:nth-of-type(2) { margin-bottom: 25px; } 
    &:hover:not(:nth-of-type(1)) { background-color: var(--color--blue); border: 1px solid var(--color--blue); } 
  } 
  > h2 { margin-bottom: 103px; } 
  > ul {
     display: flex; max-width: 1290px; align-items: center; justify-content: space-between; gap: 10.39%; margin-bottom: 100px; 
     > li { height: 58px; width: 20.93%; text-indent: -9999px; 
      &:nth-child(1) { background: url(../../public/images/main/logo_sponsor_1.png) no-repeat center / contain; } 
      &:nth-child(2) { background: url(../../public/images/main/logo_sponsor_2.png) no-repeat center / contain; } 
      &:nth-child(3) { background: url(../../public/images/main/logo_sponsor_3.png) no-repeat center / contain; } 
      &:nth-child(4) { background: url(../../public/images/main/logo_sponsor_4.png) no-repeat center / contain; } 
    } 
    } 
}

/* Sub page start ! */

.clubPage > .banner {background-image: url(../../public/images/club/subBanner_01.png);}
.playerPage > .banner {background-image: url(../../public/images/player/player_Banner.png);}

/* sub Page LayOut*/

/* Banner */

.banner{ width:100%; height:950px; margin-bottom:150px; display:flex; align-items:flex-end; background-repeat: no-repeat; background-position: center; background-size: cover;
   > ul { font-size:18px; color:#666666; position:relative; display:flex; flex-grow:1; justify-content:flex-start; gap:50px;
     > li{ cursor:pointer; z-index:1; font-weight: 500;
      &:nth-of-type(1):before{ animation: dynamicWidth; animation-duration: 1s; animation-fill-mode: forwards;  z-index: 1; content:''; height :3px; bottom:0; display:block; background-color:var(--color--blue); position:absolute;}
      &:nth-of-type(1):after{content:''; width:100%; height :3px; bottom:0; display:block; background-color:var(--color--white); position:absolute;}
       > a {line-height: 84px;
        &.active{color: var(--color--white);}
      }
    }
    }
    & + div {
    h2{ font-size:60px; line-height:75px; margin-bottom:148px; }
    > div{ display:flex; justify-content:space-between;
       > aside{width: 16.64% ; font-size:16px; display:flex; flex-direction:column; justify-content:flex-start; gap: 30px; color:var(--color--gray);
         > button{ text-align: left; line-height: 36px; font-weight: 500; width: 100%;
           > a{width: 100%; height: 100%; display: block;
             &.active{color: var(--color--white);}
          }
         }
         & + *{width: 83.22%; margin-bottom: 150px;}
      }
    }
    }
}
@keyframes dynamicWidth{
    0%{width: 0px;}
    100%{width: var(--ani--width);}
}

/* Club */

/* Introduction */

.introductionArea{
 > img { display: block;}
};

/* Vision */

.mark-bg-blue{position: relative; border-bottom: 20px solid var(--color--blue); display: block;}
.mark-bg-blue::before{ height: 20px; width:80%; background-color:var(--color--blue); top:50%; left:0; z-index:0; display:block; content:''; position: absolute; z-index: -1;}
.visionArea { color: var(--color--white);
  > *:not(:last-child, h3){ margin-bottom: 150px;}
  > img{  display:block; width:100%;}
  h3 { font-size: 34px; font-weight: 600;}
  > h3{ margin-bottom: 70px;}
  > ol { display:flex; justify-content:space-between; width:100%; gap:2.08%; counter-reset: listNumber; 
    > li{ width:31.67%; aspect-ratio:1/1; padding-top:35px; border-radius:20px; counter-increment: listNumber; background-color:var(--color--blodGray); display:flex; flex-direction:columns; align-items:flex-start; justify-content:center; flex-wrap:wrap; 
       > p { width:100%; font-size:18px; line-height:30px; text-align:center; padding-bottom:28px; border-bottom:solid 1px var(--color--gray);}
       > p::before{ content: '0'counter(listNumber); display: block;}
       > div{ display:flex; align-items:center; justify-content:center;}
    }
  }
  > div:nth-of-type(1){ width:100%; display:flex; align-items:center; justify-content:space-between;
     > img { width: 50%;}
     > div { width:44%; font-size:34px;  display:flex; flex-direction:column; justify-content:center; font-weight:600; 
      > p {line-height: 45px; position: relative; z-index:0;} 
      > p:nth-child(1){margin-bottom: 50px;}
    }
  }
  > div:nth-of-type(2) {width: 100%;}
  > div:not(:nth-of-type(1)){
    > h3 { margin-bottom: 40px;position: relative; z-index: 1;}
    > p {color: var(--color--blue); margin-bottom: 70px;}
    > p::before { width: 14px; height:14px; margin-right:2px; display:inline-block; background-color:var(--color--blue);  content:''; border-radius:100%;}
    > ol {counter-reset: listNumber; width:100%; border-top:2px solid var(--color--gray); border-bottom:2px solid  var(--color--gray);
       > li {width: 100%; height:107px; gap:15.42%; counter-increment: listNumber; display:flex; align-items:center;
        &:not(:last-of-type){border-bottom: solid 1px var(--color--gray);}
        > div{width:33%; display:flex; align-items:center;
          &::before{content:'0'counter(listNumber); font-size:34px;  margin-right:8px; color:var(--color--gray); font-weight:900;}
          > mark {margin-right: 14px; line-height: 40px;}
          > strong {font-size: 20px; color: var(--color--blue);}
        }
        > p { font-weight:300; line-height:25px; position:relative;
          &::before{top:0; left:-7px; position:absolute; content:'-';}
          > b{font-weight:600;}
        }
      }
    }
} 
}

/* Organization */


.organizationArea {
  > mark.bg-color-blue {  line-height:33px; margin-bottom:35px;}
  > h3 { font-size:34px; margin-bottom:50px;}
  > ul { font-size: 20px; width:100%; gap:25px; margin-bottom:145px; display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap;
    > li{flex-grow: 1;   padding-inline: 35px; padding-block: 33px; border-radius:30px; border:1px solid var(--color--white); align-items: center;display:flex;background: rgb(13,14,15);background: radial-gradient(circle, rgba(13,14,15,1) 48%, rgba(26,29,30,1) 77%);
       > strong { margin-right:60px; color:var(--color--blue);}
       > p { line-height:25px; }
       &:last-of-type{align-items: flex-start;}
    }
  }
  > p { width: 100%; font-size:18px; font-weight:300; line-height:25px;
    > span{padding-top: 50px;  display: block;  color: var(--color--gray);}
    &:nth-of-type(1){margin-bottom: 70px;}
  }
} 
 

/* Emblem */

.emblemArea {color: var(--color--white); width: 100%;
  > figure { width:100%; display:flex; justify-content:space-between; align-items:flex-start; flex-wrap: wrap;
     figcaption {width: 47.25%;
       > mark.bg-color-blue {  padding-block:7.5px; margin-bottom:36px;}
       > h3 { font-size:34px; font-weight:600; margin-bottom:50px;}
       > p { font-size:18px;  font-weight:400;  line-height:33px;  margin-bottom:50px;
         > span{ display: block; margin-bottom: 28px;}}
       > div { width: 100%;display: flex; gap: 20px;}
    }
    &:not(:last-of-type){margin-bottom: 150px;}
    > img{width: 47.25% ;}
  }
  button { padding-inline:20px 50px; line-height:54px; font-size:18px; box-sizing:border-box; border:1px solid white; border-radius:10px; position:relative; cursor: pointer;
  &::after {width:18px; height:16px; right: 2.5%; top:50%; transform:translate(-50% , -50%); background-image:url('../../public/images/club/downloadicon01.png'); content:''; position:absolute; display:inline;}
  }
}


/* History */

.historyArea{
  > h2 { font-size: 70px; font-weight: 600; margin-bottom: 70px;
     > span { color: var(--color--blue);}
  }
  > img {display: block;}
  > ol{ width: 100%; position: relative;
    &::after {content: ''; height: 100%; width: 1px; background-color: var(--color--gray); position: absolute; display: block; top: 0; left: 225px;}
     > li{padding-top: 70px; width: 100%; display: flex; justify-content: flex-start; align-items:flex-start ;
       > span { width: 15.60%; margin-right: 150px; font-size: 70px; font-weight: 600; position: relative;
        &::after{content: ''; display: block; width: 10px; height: 10px; background-color: var(--color--blue); position: absolute; border-radius: 100%; left: 225px; z-index: 1; top:50%; transform: translate(-50%,-50%); }}
       > ul { font-size: 18px; line-height:25px;
         > * {display: block;}
         > strong {font-size: 34px ; margin-bottom: 50px;padding-top: 25px;}
         > li:not(:last-of-type){margin-bottom: 35px}
      }
    }
  }
}


/* Greeting */

.greetingArea{
  > h2 {margin-bottom: 150px; font-size: 60px; }
  > ul {width: 100%; margin-bottom: 300px; display: flex; justify-content: space-between; flex-wrap: wrap; 
     > li {width: 46.32%; height: 484px; align-items: flex-start; justify-content: space-between; display: flex; flex-direction: column; background-repeat: no-repeat; background-position: right 0 bottom 0; background-size:auto;
      &:nth-of-type(1) {background-image: url('../../public/images/club/bg_club_greeting_owner.png');}
      &:nth-of-type(2) {background-image: url('../../public/images/club/bg_club_greeting_ceo.png');}
       > p{font-size: 34px; line-height: 40px; font-weight: 600;
         > span{font-size: 24px; margin-bottom: 32px; display: block;  color: var(--color--gray); font-weight: 600;}} 
       > button { line-height: 56px; font-size: 18px ; padding-inline: 45px ; box-sizing: border-box; border: 1px solid var(--color--white); border-radius: 5px;cursor: pointer; color: #bbbbbb;
        &::after{width:21px; height: 11px; margin-left: 15px; content: ''; display: inline-block; background: url('../../public/images/club/arrow-1.png') no-repeat center / cover; }
        &.active::after{background-image: url('../../public/images/club/arrow.png');}
      }
    }
  }
  > div {margin-bottom: 150px;
    &.active{display: none;}
    > h3 {font-size: 60px; line-height: 75px; margin-bottom: 145px;}
    > div {margin-bottom: 135px; display: flex; align-items: flex-start;width: 100%;
       > img { width: 45%;}
       > div {width: 45%;
         > span{font-size: 24px; margin-bottom: 33px; color: var(--color--blue); display: block; font-weight: 600;}
         p{
           &:nth-of-type(1){ color: var(--color--gray); font-size: 34px; font-weight: 600; display: block; margin-bottom: 140px;}
           > span{ color: var(--color--white);}
           &:not(:first-of-type){line-height:25px;}
           &:not(:first-of-type,:last-of-type){margin-bottom: 25px;}
          }
          > strong {font-size: 24px; margin-bottom: 25px; font-weight: 400; display: block; }
      }
    }
    > p {line-height: 25px; text-align: center;
      &:not(:last-of-type){margin-bottom: 25px;}
    }
}
}


/* stadiumArea */

.stadiumArea{
   > h3{font-size: 24px; color: var(--color--blue); margin-bottom: 30px;}
   p {font-size: 18px; line-height: 25px; margin-bottom: 70px;}
   > img {display: block;margin-bottom: 70px; width: 100%;}
   > ul {display: flex; width: 100%; justify-content: space-between;
     > li {width: 31.67%;
       > strong{font-size: 24px; font-weight: 600; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid var(--color--gray); display: block; 
        &::before{content: ''; display: inline-block; width: 34px; height: 30px; background-repeat: no-repeat; background-position: center; background-size: auto; margin-right: 15px; }
      }
      &:nth-of-type(1) > strong::before{background-image: url('../../public/images/club/stadium-icon-02.png');}
      &:nth-of-type(2) > strong::before{background-image: url('../../public/images/club/stadium-icon-01.png');}
      &:nth-of-type(3) > strong::before{background-image: url('../../public/images/club/stadium-icon-03.png');}
    }
  }
   > a { padding-left: 50px; font-size: 18px; width: 75%; height: 165px; box-sizing: border-box; border: 1px solid var(--color--gray); margin-left: auto;  display: flex;align-items: center; cursor: pointer; position: relative;
     > span{display: flex; align-items: center;
      &::before{height: 35px; width: 23px; content:url('../../public/images/club/map-btn-01.png'); display: inline-block; margin-right: 15px;}
      &::after{content: url('../../public/images/club/kakaomap.png'); display: inline-block; position: absolute; right: 50px;}
    }
  }
} 


/* parkingArea */

.parkingArea {
  h3 {font-size: 24px; margin-bottom: 30px;&:nth-of-type(1) { color: var(--color--blue); }}
  > p { font-size: 18px; line-height: 25px; margin-bottom: 70px; }
  > img { display: block; width: 100%; }
  > ul:nth-of-type(1) {
    gap: 2%; width: 100%; margin-bottom: 150px; flex-wrap: wrap; display: flex; justify-content: flex-start; align-items: center;
    > li {
      width: 31.67%; font-weight: 600;
      &:nth-of-type(1) { color: #b94a15; > p::before { content: url('../../public/images/club/parking_icon_01.jpg'); } }
      &:nth-of-type(2) { color: #d18302; > p::before { content: url('../../public/images/club/parking_icon_02.jpg'); } }
      &:nth-of-type(3) { color: #544fa3; > p::before { content: url('../../public/images/club/parking_icon_03.jpg'); } }
      &:nth-of-type(4) { color: #cb3117; font-weight: 400; > p::before { content: url('../../public/images/club/parking_icon_04.jpg'); } }
      &:nth-of-type(5) { color: #2d2792; > p::before { content: url('../../public/images/club/parking_icon_05.jpg'); } }
      > p::before { width: 100%; padding-top: 68px; padding-bottom: 34px; margin-bottom: 30px; display: block; border-bottom: 1px solid var(--color--gray); }}
  }
  > ul:nth-of-type(2) {
    display: flex; width: 100%; align-items: flex-start; justify-content: space-between; margin-bottom: 150px;
    > li {
      width: 31.67%;
      > img { display: block; width: 100%; margin-bottom: 35px; }
      > strong {
        width: 100%; font-size: 24px; font-weight: 600; height: 45px; margin-bottom: 34px; gap: 14px; display: flex; align-items: center;
        &::before { width: 45px; height: 45px; }
        &:nth-of-type(1) { color: #544fa3; &::before { content: url('../../public/images/club/parking_icon_06.jpg'); display: inline-block; } }
        &:nth-of-type(2), &:nth-of-type(3) { color: #d55518; &::before { content: url('../../public/images/club/parking_icon_07.jpg'); display: inline-block; } }
        &:nth-of-type(3) { &::before { content: url('../../public/images/club/parking_icon_08.jpg'); } }
      }
      > p { line-height: 25px; font-size: 16px; font-weight: 400; }}
  }
  > div {
    font-size: 18px; display: flex; align-items: center; justify-content: space-between; padding-inline: 50px; padding-block: 30px; border: 1px solid var(--color--gray); box-sizing: border-box;
    > ul > li {
      display: flex;
      &:not(:last-of-type) { margin-bottom: 20px; }
      &::before { content: url('../../public/images/club/parking_bus.png'); display: inline-block; margin-right: 15px; }
      &:nth-last-of-type(1)::before { content: url('../../public/images/club/parking_train.png'); }}
    > div {
      display: flex; gap: 50px; text-align: center;
      > span {
        > img { margin-bottom: 20px; }
        > p { line-height: 25px; font-weight: 400; > span { color: var(--color--gray); } }
      }}
  }
}

/* seatArea */

.seatArea {
  > img { display: block; width: 100%; margin-bottom: 150px; }
  > ul {
    width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; gap: 20px;
    > li {
      font-size: 22px; width: 23.75%; padding-bottom: 55px; font-weight: 300;
      > p::before { content: ''; display: block; width: 50px; height: 50px; margin-bottom: 25px; }
      &:nth-of-type(1) > p::before { background-color: #f7de77; }
      &:nth-of-type(2) > p::before { background-color: #f3981b; }
      &:nth-of-type(3) > p::before { background-color: #74bd55; }
      &:nth-of-type(4) > p::before { background-color: #009944; }
      &:nth-of-type(5) > p::before { background-color: #d84533; }
      &:nth-of-type(6) > p::before { background-color: #e5600f; }
      &:nth-of-type(7) > p::before { background-color: #ef8787; }
      &:nth-of-type(8) > p::before { background-color: #727171; }
      &:nth-of-type(9) > p::before { background-color: #f5b62f; }
      &:nth-of-type(10) > p::before { background-color: #e84091; }
      &:nth-of-type(11) > p::before { background-color: #74298b; }
      &:nth-of-type(12) > p::before { background-color: #009491; }
      &:nth-of-type(13) > p::before { background-color: #7dcef4; }
      &:nth-of-type(14) > p::before { background-color: #5a3c35; }
    }
  }
}


/* player */

/* CoachingStaff */
.coachingStaffArea {padding-top: 150px;
 > h2 {height: 0.1px; text-indent: -9999px;} 
 > div { width: 100%; gap: 10%; display: flex;align-items: flex-start; padding-inline: 50px; margin-bottom: 150px; flex-wrap: wrap;
   > * {width: 41.61%;}
   > div { font-size: 24px;
     > button {width: 50%; height: 62px; cursor: pointer; box-sizing: border-box; border: 1px solid var(--color--gray);
     &.active{background-color: var(--color--gray);}
    }
  }
  .coachProfile,.coachBriefHistory {padding-top: 150px;}
  .coachProfile{
    > span {margin-bottom: 25px; color: var(--color--blue); display: block;}
    > strong{line-height: 35px; display: block; margin-bottom: 35px;
      > span{ color: var(--color--gray);}
    }
    > ul{
      > li{font-size: 18px; line-height: 75px;display: flex; font-weight: 400;
         > span{width: 90px; margin-right: 50px; color: var(--color--gray);}
      }
    } 
  } 
  .coachBriefHistory{
    > strong {font-size: 34px; line-height: 45px; margin-bottom: 70px; display: block;} 
    > ul {font-size: 18px; line-height: 40px; font-weight: 400; 
       > li {display: flex; gap: 30px; 
         > span {width:90px; color: var(--color--gray);}
         > div > p > span {width: 170px; display: inline-block;}
      }
    }
  } 
}
 > h3 {font-size: 24px; margin-bottom: 70px;}
 > ul {width: 100%; justify-content: space-evenly; display: flex;  flex-wrap: wrap;  align-items: center; margin-bottom: 50px;
    > li {flex-direction: column; padding-block: 75px; flex-basis: 480px; box-sizing: border-box; flex-grow: 0;display: flex; align-items: center; justify-content: center; text-align: center; position: relative;
      &:hover > img {filter: blur(5px); -webkit-filter: blur(5px);}
      &:hover > button {display: block; cursor: pointer;}
       > button {font-size: 18px; width: 185px; line-height: 65px; border: 1px solid var(--color--white); position: absolute;border-radius: 10px; display: none;}
       > p {font-size: 34px; line-height: 45px; font-weight: 600; bottom: 5%; position: absolute;  
         > span {color: var(--color--gray);}
      }
    }
    >  div {display: flex; position: absolute}
    > .popup-OverLay { position: fixed; top: 0;  left: 0; width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.904); display: none; justify-content: center; align-items: center; z-index: 9999;
       &.active{display: flex;}
       > .popup-Content {gap: 10%; padding-top: 100px; box-sizing: border-box;  padding-inline: 10%; display: flex; width: 75%; background: url(../../public/images/player/bg_coach_profile.png) no-repeat left 5% top 10% / auto;  background-color: var(--color--black); position: relative;
          > button {  top: 40px; right: 40px; width: 65px; height: 65px; border: 1px solid var(--color--gray); border-radius: 100%; text-indent: -9999px; font-size: 0.1px; position: absolute; display: inline-block; background: url(../../public/images/player/closeBtn.png) no-repeat center / auto; cursor: pointer; }
          > img {width: 40%;}
          > div {width: 50%;
             > div {width: 100%; margin-bottom: 140px;}
             > p {font-size: 34px; font-weight: 600;  margin-bottom: 60px;
              > span {margin-left: 20px; color: var(--color--gray);}
               }
             > ul {
               > li { font-size: 18px; font-weight: 500; display: flex; align-items: flex-start; justify-content: flex-start; line-height: 40px;
                    > span {color: var(--color--gray); width: 100px; display: inline-block; margin-right: 50px;}
                    > div {display: flex; justify-content: space-between;}
                    > div > p:nth-of-type(1){margin-right: 30px;}
                }
              } 
             > div{
               > button {font-size: 24px; font-weight: 600; width: 50%; line-height: 60px; cursor: pointer; border: 1px solid var(--color--gray);
                &.active {background-color: var(--color--gray);}
             }
            }
          }
      }
    }
}
}

/* ProArea */

.proArea {
   > h2 {font-size: 0.1px; text-indent: -9999px;}
   > div { width: 100%; gap: 50px ; margin-bottom: 150px; display: flex; justify-content: flex-start; align-items: center; 
     > button {font-size: 18px; cursor: pointer; font-weight: 400; 
      &.active {color: var(--color--blue);}
    }
  }
   > ul {width: 100%;
     > li { width: 100%;
        > p {font-size:24px; font-weight: 600; margin-bottom: 70px; letter-spacing: 3px;}
        > ul { width: 100%; gap: 5%; flex-wrap: wrap; display: flex; align-items: center; 
           > li { padding-inline: 10px; min-width: 350px; width: 30%; padding-bottom: 150px;  box-sizing: border-box; position: relative;
             > img { width: 100%;}
             > div {padding-top: 40px; width: 100%; gap: 30px; color: var(--color--gray); display: flex; align-items: center; justify-content: flex-start;
               > span{font-size: 100px; font-weight: 900;}
               > p {font-size: 28px; font-weight: 600; line-height: 40px;
                 > span {color: var(--color--white);}
                 }
               }
             > button {font-size: 18px; width: 185px; line-height: 65px; border: 1px solid var(--color--white); position: absolute;border-radius: 10px; transform: translate(-50% , -50%); left: 50%; top: 35%; display: none;}
             &:hover > img {filter: blur(5px); -webkit-filter: blur(5px);}
             &:hover > button {display: block; cursor: pointer;}
             > span > img {display: block; width: 100%;}
             > p {width: 100%; top: 10%; left: 10%; font-size: 28px; position: absolute; font-weight: 600; 
               > span { padding-left: 10px; color: var(--color--gray);}
               }
          }
        }
    }
  }
 .popup-Overlay{ left: 0; position: absolute ; width: 100vw; height: 100vh; overflow-y: auto;  background-color:var(--color--black); color: var(--color--white); z-index: 9999;
   > .popup-contents{
     > div:nth-of-type(1) { width: 100%; padding-top:50px; margin: 0 auto; justify-content: space-evenly; align-items: center; display: flex; color: var(--color--white); margin-bottom: 50px; position: relative; 
      > button {top: 100px; right: 10%; width: 65px; height: 65px; border: 1px solid var(--color--gray); border-radius: 100%; text-indent: -9999px; font-size: 0.1px; position: absolute; display: inline-block; background: url(../../public/images/player/closeBtn.png) no-repeat center / auto; cursor: pointer; }
      > img {width: 33.3%; aspect-ratio: 314/355;}
      > div { width: 33.3%;
           > p {display: flex; align-items: center; margin-bottom: 50px;
               > span {margin-right: 15px; font-size: 100px; font-weight: 900; color: var(--color--gray);}
               > b {font-size: 28px; font-weight: 600; line-height: 40px;
                   > span {color:var(--color--gray);}
                 }
             }
           > 
           ul{
              &:nth-of-type(1) { width: 100%; display: flex; padding-left:40px; gap: 85px; margin-bottom: 35px;
                li{
                  &::before{margin-right: 10px ; position: absolute; left: -40px; top: 0; }
                  &:nth-of-type(1)::before{content: url(../../public/images/player/pro_popup_icon_001.jpg);}
                  &:nth-of-type(2)::before{content: url(../../public/images/player/pro_popup_icon_002.jpg);}
                  &:nth-of-type(3)::before{content: url(../../public/images/player/pro_popup_icon_003.jpg);}
                }
              }
              &:nth-of-type(2){
                > li {height: 50px; margin-bottom: 25px; display: flex; align-items: center; color: var(--color--white); width: 100%;
                  > span { width: 125px;  font-size: 18px; font-weight: 500; color: var(--color--gray);}
                  &::before{margin-right: 25px; display: block; width: 50px ; height: 50px; border-radius: 5px; }
                  &:nth-of-type(1)::before{content: url(../../public/images/player/pro_popup_icon2_01.jpg);}
                  &:nth-of-type(2)::before{content: url(../../public/images/player/pro_popup_icon2_02.jpg);}
                  &:nth-of-type(3)::before{content: url(../../public/images/player/pro_popup_icon2_03.jpg);}
                }
              } 
                &:nth-of-type(2) > li:nth-of-type(4)::before{content: url(../../public/images/player/pro_popup_icon2_04.jpg);}
              > li{font-size: 18px; color: var(--color--gray); font-weight: 600; position: relative;
                  > strong {line-height: 120px; display: block; font-size: 100px; color: var(--color--white);}
                }
            }
        }
    }
     > p {font-size: 24px ; font-weight: 600; margin-bottom: 45px;}
     > table {padding-top: 45px; padding-bottom: 30px;  margin-bottom: 150px; width: 100%; background-color: var(--color--blodGray); border-radius: 20px; text-align: center;
        > thead > tr > th {padding-block: 40px; color: var(--color--gray);}
        &:nth-of-type(1){
          > thead > tr > th {font-size: 22px;}
          > tbody > tr > td {font-size: 50px; font-weight: 600; padding-bottom: 40px; color: var(--color--blue);}
        } 
    }
     > div:nth-of-type(2){ margin-bottom: 45px; display: flex; width: 100%;
       > p{ font-size: 24px; font-weight: 600; }
       > div {margin-left: auto; font-size: 18px; gap: 40px; display: flex; 
         > button.active{color: var(--color--blue);}
      }
    }
     > table:nth-of-type(2) {height: 2220px;}
   }
 }
} 

/* ScheduleArea */

.scheduleArea {
  > h2{font-size: 0.1px; text-indent: -9999px;}
  .calendar{width: 100%;
   > .navigator {text-align: center; position: relative; margin-bottom: 70px; display: flex; align-items: center; justify-content: center;
    > div{gap: 35px; position: absolute; left: 0; display: flex; 
       > span{display: flex; align-items: center;
        &:nth-of-type(1)::before{margin-right: 10px; content: url('../../public/images/player/square_gray.png'); width: 30px; height: 30px; display: inline-block;}
        &:nth-of-type(2)::before{margin-right: 10px; content: url('../../public/images/player/square_blue.png'); width: 30px; height: 30px; display: inline-block;}
         }
       }  
    > p {font-size: 34px; font-weight: 600; width: 300px; height: 35px; display: flex; align-items: center; justify-content: space-evenly;
       > button {width: 18px; height: 35px; cursor: pointer;
        &:nth-of-type(1){background: url('../../public/images/player/prevbtn.png') no-repeat center / auto;}
        &:nth-of-type(2){background: url('../../public/images/player/nextbtn.png') no-repeat center / auto;}
        }
      }
  }
   > ul{width: 100%; display: grid; grid-template-columns: repeat(7,1fr); line-height: 80px; text-align: center; color: var(--color--gray);
     > li {border: 1px  solid var(--color--gray); border-top: 2px solid var(--color--gray) ;}
     }
   > ol {margin-bottom: 70px; display: grid; grid-template-columns: repeat(7,1fr);
      > li{border: 1px  solid var(--color--gray); aspect-ratio: 1/1; position: relative;
          &.active{border: 5px solid var(--color--blue); }
           > span{ font-size: 14px; right: 15px; top: 15px; position: absolute; color: var(--color--gray); font-weight: 500;}
        }
      }
   > p{font-size: 18px; text-align: center; margin-bottom: 150px; font-weight: 400;}
  }
} 

